﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="Associar.aspx.vb" MasterPageFile="~/masterpage.master"  Inherits="Associar" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">


    <script runat="server">
   
        Sub procuracep(ByVal Source As Object, ByVal E As EventArgs)
            Dim newthread As New Threading.Thread(AddressOf aguarde)
            txtcep.BackColor = Drawing.Color.White
            If Len(txtcep.Text) <> 9 Then
                txtcep.BackColor = Drawing.Color.IndianRed
                Exit Sub
            End If
            Dim wcprocuracep As Boolean = False
            If wcprocuracep Then

            Else
                If conectado() = False Then
                    MsgBox("Conecte na internet para localizar o CEP !", MsgBoxStyle.Information)
                    Exit Sub
                End If
                If txtcep.Text = "" Then Exit Sub
                newthread = New Threading.Thread(AddressOf aguarde)
                mMensagemAguarde = "Procurando o cep na web..."
                newthread.Start()
                txtendereco.Text = BuscaCep(txtcep.Text)("tipologradouro") & " " & BuscaCep(txtcep.Text)("logradouro")
                txtcidade.Text = BuscaCep(txtcep.Text)("cidade")
                txtbairro.Text = BuscaCep(txtcep.Text)("bairro")
                Try
                    cboestado.Items.Clear()
                    cboestado.Items.Add(BuscaCep(txtcep.Text)("UF"))
                    newthread.Abort()
                Catch ex As Exception

                End Try

            End If
            

        End Sub
                  
 </script>

<head runat="server">

    <title>ANAPLAB-Associe-se</title>
    
    <Script src="jScript.js" type=text/javascript></Script>
    <script type="text/javascript">

function pageLoad() {
        }
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}

function Image_onclick() {

}
function buscaCampo(id) {
    txtnome.ToUpper();
    document.getElementById(id).focus();
}

function valida() {
    nome = document.form1.cbosituacao.value;

    if (nome == "Aposentado")   {
      //  alert("Aposentado");
         //	alert("preencha o campo");
        //	document.form1.cbosituacao.focus();
      // txtdtaposentadoria.style.visibility = "hidden";
        //txtdtposse.style.width='400px';

        txtdtposse.style.visibility = "visible";
        lbldtposse.style.visibility = "visible";

        txtdtaposentadoria.style.visibility = "visible";
        lbldtaposentadoria.style.visibility = "visible";
         
  
    }
    else if (nome == "Pensionista") {
  //  alert("pensionista");
        txtdtposse.style.visibility = "hidden";
        lbldtposse.style.visibility = "hidden";

        txtdtaposentadoria.style.visibility = "hidden";
        lbldtaposentadoria.style.visibility = "hidden";
        //alert("formulario enviado com sucesso");
        
    }
    else {
        txtdtposse.style.visibility = "visible";
        lbldtposse.style.visibility = "visible";

        txtdtaposentadoria.style.visibility = "hidden";
        lbldtaposentadoria.style.visibility = "hidden";
    }
}

    // desabilita o botao 
    function disableButtonOnClick(oButton, sButtonText) {
        oButton.disabled = true;
        // altera o texto do botão
        oButton.value = sButtonText;
        
    }

</script>
    </script>

    <link href="App_Themes/clifame/mail.css" rel="stylesheet" type="text/css" />
    <link href="StyleSheet.css" rel="stylesheet" type="text/css" />
    <style type="text/css">

        .style4
        {
            width: 185px;
        }
        .style8
        {
            width: 61px;
        }
        .style9
        {
            width: 107px;
        }
        .style10
        {
            width: 117px;
        }
        
        .style3
        {
            font-style: italic;
            font-family: Arial, Helvetica, sans-serif;
            margin-right: 0px;
            margin-left: 4px;
        }
        .style5
        {
            width: 53px;
        }
       
.caixatexto{
       
background-color:Yellow ; 

display:block;

padding-left:1px;

border-left:1px solid #333333;

border-bottom:1px solid #BBBBBB;

font-weight:arial;

color:#666666;

line-height:175%; 

text-decoration:none;
text-align: center;
	}

a.caixatexto:hover{

background-color:Red ;

display:block;

padding-left:0;

font-weight:bold;

border-left:2px solid #333333;

border-bottom:1px solid #006699;

color:#006699; }

        
        
        
        #menu
        {
            height: 45px;
        }

        
        
        
        #menu0
        {
            height: 84px;
        }

        
        
        
        .style27
        {
            text-align: center;
        }

        
        
      
        }
        .style41
        {
            width: 207px;
        }
        
        #TextArea1
        {
            height: 175px;
            width: 278px;
        }
        #LISTMENAGEM
        {
            height: 159px;
            width: 353px;
        }
        
        .style42
        {
            color: rgb(0, 0, 204);
            background-color: #FFFFFF;
        }
        .style44
        {
            font-size: medium;
            color: rgb(0, 0, 204);
        }
        .style46
        {
            background-color: #FFFFFF;
        }
        .style48
        {
            color: #0000CC;
            font-size: medium;
            background-color: #FFFFFF;
        }
        
        .auto-style9
        {
            color: #6666FF;
            font-family: verdana, Geneva, Tahoma, sans-serif;
            font-style: italic;
            font-weight: normal;
            font-size: medium;
            height: 39px;
        }
        
        .auto-style10
        {
            color: #6666FF;
            font-family: verdana, Geneva, Tahoma, sans-serif;
            font-style: italic;
            font-weight: normal;
            font-size: medium;
            width: 150px;
        }
        .auto-style11
        {
            color: #6666FF;
            font-family: verdana, Geneva, Tahoma, sans-serif;
            font-style: italic;
            font-weight: normal;
            font-size: medium;
            height: 39px;
            width: 150px;
        }
        
             
        
        
        .auto-style12 {
        font-size: medium;
    }
            
        .auto-style13 {
            color: #6666FF;
            font-family: verdana, Geneva, Tahoma, sans-serif;
            font-style: italic;
            font-weight: normal;
            font-size: medium;
            width: 150px;
            height: 23px;
        }
        .auto-style14 {
            margin-left : 0px;
            text-align: left;
            height: 23px;
        }
            
        </style>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<!-- MENUS --!>
<div style="text-align:center;box-shadow:rgba(71,74,76,0.639216) 1px 1px 1px 1px;border-radius:5px;padding:10px;background-color:rgb(51,51,153)">

<table align='center' bgcolor="" border="0" bordercolor="SILVER" cellpadding="0" cellspacing="0" height="" style="font-size:3pt">
<tbody>
<tr>

<td>
<span style="line-height:10px;text-indent:30px;background-color:transparent">
<center><a href="http://anaplab.com.br/default.aspx"><font color="#eeeeee" face="verdana, sans-serif" size="3">
HOME
</font></a></center></span>
</td>

<td>
<span style="line-height:10px;text-indent:30px;background-color:transparent">
<center><a href="http://anaplab.com.br/autoatendimento/login.aspx"><font color="#eeeeee" face="verdana, sans-serif" size="3">
AUTOATENDIMENTO
</font></a></center></span>
</td>

<td>
<span style="line-height:10px;text-indent:30px;background-color:transparent">
<center><a href="http://anaplab.com.br/acoesjudiciais.aspx"><font color="#eeeeee" face="verdana, sans-serif" size="3">
AÇÕES JUDICIAIS
</font></a></center></span>
</td>

<td>
<span style="line-height:10px;text-indent:30px;background-color:transparent">
<center><a href="http://anaplab.com.br/premiopontualidade.aspx"><font color="#eeeeee" face="verdana, sans-serif" size="3">
PRÊMIO PONTUALIDADE
</font></a></center></span>
</td>

<td>
<span style="line-height:10px;text-indent:30px;background-color:transparent">
<center><a href="http://anaplab.com.br/ajuda.aspx"><font color="#eeeeee" face="verdana, sans-serif" size="3">
AJUDA
</font></a></center></span>
</td>

<td>
<span style="line-height:10px;text-indent:30px;background-color:transparent">
<center><a href="http://anaplab.com.br/faleconosco.aspx"><font color="#eeeeee" face="verdana, sans-serif" size="3">
CONTATO
</font></a></center></span>
</td>

</tr>
</tbody>
</table>
</div>

<body style=" bottom:auto;width:auto;  font-size:medium; margin-top: 15px;" 
    onload="MM_preloadImages('images/imgbtnenviar2.png')"> 
    
<form id="form1" runat="server" >       
  <div id ="tudo" style =" margin:0 auto">
<asp:ScriptManager ID="ScriptManager1" runat="server">
    </asp:ScriptManager>
      <asp:UpdatePanel  ID="panelcad"  runat="server">
            <ContentTemplate>
                <asp:FormView ID="FormView1" runat="server">
                </asp:FormView>
                                  
<div style="text-align: center; border-radius: 10px 10px 10px 10px">

<br /> 

<asp:Label ID="lbldata" runat="server" ForeColor="#000000" 
style="height: 29px; width: 615px; text-align: center;" Text="Data"></asp:Label>

<br />
<br />
<center><img src="http://anaplab.com.br/images/logosemfundo.png" 
alt="Logo ANAPLAB" style="width:150px;height:50px;border:0"></center>
<br />



<a class="testoini" style="color: #000080; font-size: 20pt; font-family: Verdana;">Formulário para associar-se</a>
</div>
                    
<p class="style27">
<span>
<asp:Label ID="lblnrseq" runat="server" Visible="False"></asp:Label>
&nbsp;<asp:Label ID="lblnrseqalterar" runat="server" Visible="False"></asp:Label>
</span>&nbsp;</p>

<p class="legenda">
Preencha os dados corretamente. Após concluido, clique em enviar para finalizar o seu cadastro.Todos os campos são de preenchimento obrigatório</p>

<table align="left" border="0" style="margin-bottom: 0px; height: 243px; width: 958px;">
<tr>
<td  class="auto-style10" style="padding-right: 5px;"><span style="font-style: italic; width: 889px;">Matrícula</span></td>
                                <td class="cadastrotxt" style="font-size: 20px; color: #000080"><span class="legenda">
                                    <asp:TextBox ID="txtMatricula" runat="server" CssClass="textbox" Width="100px"></asp:TextBox>
                                    <asp:TextBox ID="txtMatricula_digito" runat="server" CssClass="textbox" MaxLength="1" Width="47px"></asp:TextBox>
                                    Situação no PB1 da PREVI&nbsp; <span class="OBRIGATORIO" style="font-style: italic; width: 889px;">
                                    <asp:DropDownList ID="cbosituacao" runat="server" onblur="valida()" Width="150px">
                                        <asp:ListItem>Aposentado</asp:ListItem>
                                        <asp:ListItem>Pensionista</asp:ListItem>
                                        <asp:ListItem Value="Ativo">Ativo</asp:ListItem>
                                    </asp:DropDownList>
                                    </span></span></td>
                            </tr>
                            <tr>
                                <td class="auto-style10" style="padding-right: 5px;"><span style="font-style: italic; width: 889px;">Nome&nbsp;</span></td>
                                <td class="cadastrotxt"><span class="OBRIGATORIO" style="font-style: italic; width: 889px;">
                                    <asp:TextBox ID="txtNome" runat="server" CssClass="textbox" Height="20px" onblur="javascript:buscaCampo('txtnomemae');" style="margin-left: 0px" validationgroup="kontrol" Width="408px"></asp:TextBox>
                                    &nbsp;</span></td>
                            </tr>
                            <!-- A Função onblurjavascript:buscaCampo('txtnomemae'); é pra quando perder o foco
                        aqui não esta servindo para nada jaque o foco segue automatico mas quando precisar
                        de pular campo ou direcionar use essa função 
                        Att julio
                        -->
                            <tr>
                                <td  class="auto-style10" style="padding-right: 5px;"><span style="font-style: italic; width: 889px;">Nome da Mãe&nbsp;</span></td>
                                <td class="cadastrotxt"><span class="OBRIGATORIO" style="font-style: italic; width: 889px;">
                                    <asp:TextBox ID="txtnomemae" runat="server" CssClass="textbox" Height="20px" style="margin-left: 0px" validationgroup="kontrol" Width="408px"></asp:TextBox>
                                    &nbsp;</span></td>
                                <tr>
                                    <td  class="auto-style10" style="padding-right: 5px;"><span style="font-style: italic; width: 889px;">Sexo&nbsp;</span></td>
                                    <td class="cadastrotxt">
                                        <asp:Panel ID="grupomf" runat="server" BorderColor="White" Width="294px">
                                            <asp:RadioButton ID="radiomasculino" runat="server" GroupName="sexo" Text="Masculino" />
                                            <asp:RadioButton ID="Radiofeminino" runat="server" GroupName="sexo" Text="Feminino" />
                                        </asp:Panel>
                                        <span class="OBRIGATORIO" style="font-style: italic; width: 889px;">&nbsp;</span></td>
                                    <tr>
                                        <td  class="auto-style10" style="padding-right: 5px;">Data Nascimento</td>
                                        <td class="cadastrotxt"><span class="OBRIGATORIO" style="font-style: italic; width: 889px;">
                                            <asp:TextBox ID="txtdtnasc" runat="server" CssClass="textbox" Height="20px" MaxLength="10" onkeyup="formataData(this,event);" style="margin-left: 1px" validationgroup="kontrol" Width="137px"></asp:TextBox>
                                            &nbsp;</span></td>
                                        <tr>
                                            <td class="auto-style10" style="padding-right: 5px;">CPF</td>
                                            <td class="cadastrotxt" style="font-size: 11pt; color: #000080; font-family: Verdana;"><span style="font-style: italic; width: 889px;"><span class="lbltesto"><span class="legenda" style="color: #000080">
                                                <asp:TextBox ID="txtCpf" runat="server" CssClass="textbox" MaxLength="14" onkeyup="formataCPF(this,event);" Width="140px"></asp:TextBox>
                                                (Somente Números)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="legenda" style="font-size: 11pt; font-family: VErdana;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;RG
                                                <asp:TextBox ID="txtRG" runat="server" CssClass="textbox" onkeyup=" formataInteiro(this,event);" Width="111px"></asp:TextBox>
                                                (Somente Números )</span></span></span></span></td>
                                        </tr>
                                        <tr>
                                            <td  class="auto-style10" style="padding-right: 5px;"><span style="font-style: italic; width: 889px;">C</span>EP</td>
                                            <td class="cadastrotxt"><span style="font-style: italic; width: 889px;">
                                                <asp:TextBox ID="txtcep" runat="server" CssClass="textbox" MaxLength="9" onblur="procuracep" onkeyup="formataCEP(this,event);" Width="137px"></asp:TextBox>
                                                <asp:Button ID="btnlocalizar" runat="server" BackColor="#000066" ForeColor="White" Text="Buscar" Width="70px" />
                                                <span class="lbltesto" style="color: #000080; font-size: 11pt; font-family: Verdana;">&nbsp;<span class="lbltesto"><span class="legenda" style="color: #000080"><span class="legenda" style="font-size: 11pt; font-family: VErdana;">(Somente Números )</span></span></span></span></span></td>
                                            <tr>
                                                <td class="auto-style10" style="padding-right: 5px;">Endereço</td>
                                                <td class="cadastrotxt"><span style="font-style: italic; width: 889px;">
                                                    <asp:TextBox ID="txtendereco" runat="server" CssClass="textbox" Width="384px"></asp:TextBox>
                                                    </span></td>
                                                <tr>
                                                    <td class="auto-style10" style="padding-right: 5px;"><span class="style4"><span style="font-style: italic; width: 889px;">Complemento&nbsp;</span></span></td>
                                                    <td class="cadastrotxt" style="color: #000080"><span class="lbltesto" style="width: 889px; font-size: 11pt; font-family: Verdana; color: #000080;">
                                                        <asp:TextBox ID="txtcomplemento" runat="server" CssClass="textbox" MaxLength="100" Width="384px"></asp:TextBox>
                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Número <span class="style5">
                                                        <asp:TextBox ID="txtnumero" runat="server" CssClass="textbox" MaxLength="0" onkeyup=" formataInteiro(this,event);" Width="126px"></asp:TextBox>
                                                        </span></span></td>
                                                </tr>
                                                <tr>
                                                    <td  class="auto-style10" style="padding-right: 5px;">Bairro</td>
                                                    <td class="cadastrotxt" style="color: #000080; font-size: 11pt; font-family: Verdana;"><span>
                                                        <asp:TextBox ID="txtbairro" runat="server" CssClass="textbox" Width="148px"></asp:TextBox>
                                                        Cidade
                                                        <asp:TextBox ID="txtcidade" runat="server" CssClass="textbox" Width="172px"></asp:TextBox>
                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Estado&nbsp;&nbsp; <span style="font-style: italic; width: 889px;"><span class="lbltesto"><span class="style5" style="color: #000080">
                                                        <asp:DropDownList ID="cboestado" runat="server" CssClass="auto-style12" Width="150px">
                                                            <asp:ListItem></asp:ListItem>
                                                            <asp:ListItem>AC</asp:ListItem>
                                                            <asp:ListItem>AL</asp:ListItem>
                                                            <asp:ListItem>AM</asp:ListItem>
                                                            <asp:ListItem>AP</asp:ListItem>
                                                            <asp:ListItem>BA</asp:ListItem>
                                                            <asp:ListItem>CE</asp:ListItem>
                                                            <asp:ListItem>DF</asp:ListItem>
                                                            <asp:ListItem>ES</asp:ListItem>
                                                            <asp:ListItem>GO</asp:ListItem>
                                                            <asp:ListItem>MA</asp:ListItem>
                                                            <asp:ListItem>MG</asp:ListItem>
                                                            <asp:ListItem>MS</asp:ListItem>
                                                            <asp:ListItem>MT</asp:ListItem>
                                                            <asp:ListItem>PA</asp:ListItem>
                                                            <asp:ListItem>PB</asp:ListItem>
                                                            <asp:ListItem>PE</asp:ListItem>
                                                            <asp:ListItem>PI</asp:ListItem>
                                                            <asp:ListItem>PR</asp:ListItem>
                                                            <asp:ListItem>RJ</asp:ListItem>
                                                            <asp:ListItem>RN</asp:ListItem>
                                                            <asp:ListItem>RO</asp:ListItem>
                                                            <asp:ListItem>RR</asp:ListItem>
                                                            <asp:ListItem>RS</asp:ListItem>
                                                            <asp:ListItem>SC</asp:ListItem>
                                                            <asp:ListItem>SE</asp:ListItem>
                                                            <asp:ListItem>SP</asp:ListItem>
                                                            <asp:ListItem>TO</asp:ListItem>
                                                        </asp:DropDownList>
                                                        </span></span></span>
                                                        </span></td>
                                                </tr>
                                                <tr>
                                                    <td  class="auto-style10" style="padding-right: 5px;"><span style="font-style: italic; width: 889px;">Telefone&nbsp;</span></td>
                                                    <td class="cadastrotxt"><span class="lbltesto" style="width: 889px; color: #000080; font-size: 11pt; font-family: Verdana;">
                                                        <asp:TextBox ID="txttelddd" runat="server" CssClass="textbox" MaxLength="2" Width="27px"></asp:TextBox>
                                                        <asp:TextBox ID="txttelresidencial" runat="server" CssClass="textbox" MaxLength="9" onkeyup=" formataInteiro(this,event);" Width="116px"></asp:TextBox>
                                                        &nbsp;(Somente Números)</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="auto-style13" style="padding-right: 5px;">Celular</td>
                                                    <td class="auto-style14"><span class="lbltesto" style="width: 889px; color: #000080; font-size: 11pt; font-family: Verdana;">
                                                        <asp:TextBox ID="txtdddcelular" runat="server" CssClass="textbox" MaxLength="2" Width="27px"></asp:TextBox>
                                                        <asp:TextBox ID="txtcelular" runat="server" CssClass="textbox" MaxLength="9" onkeyup=" formataInteiro(this,event);" Width="116px"></asp:TextBox>
                                                        </span></td>
                                                </tr>
                                                <tr>
                                                    <td class="auto-style10" style="padding-right: 5px;">E-Mail</td>
                                                    <td class="cadastrotxt"><span style="font-style: italic; width: 889px;">
                                                        <asp:TextBox ID="txtemail" runat="server" CssClass="textbox" Width="382px"></asp:TextBox>
                                                        </span></td>
                                                </tr>
                                                <tr>
                                                    <td bgcolor="White" class="auto-style10" style="padding-right: 5px;">
                                                        <asp:Label ID="lbldtposse" runat="server" Text="Data da posse no BB"></asp:Label>
                                                    </td>
                                                    <td id="txtdtpossetd" class="cadastrotxt"><span style="font-style: italic; width: 889px;">
                                                        <asp:TextBox ID="txtdtposse" runat="server" CssClass="textbox" MaxLength="10" onkeyup="formataData(this,event);" Width="156px"></asp:TextBox>
                                                        </span></td>
                                                </tr>
                                                <tr>
                                                    <td  class="auto-style10" style="padding-right: 5px;">
                                                        <asp:Label ID="lbldtaposentadoria" runat="server" Text="Data da aposentadoria"></asp:Label>
                                                    </td>
                                                    <td class="cadastrotxt"><span style="font-style: italic; width: 889px;">
                                                        <asp:TextBox ID="txtdtaposentadoria" runat="server" CssClass="textbox" MaxLength="10" onkeyup="formataData(this,event);" Width="116px"></asp:TextBox>
                                                        </span></td>
                                                </tr>
                                                <tr>
                                                    <td bgcolor="White" class="auto-style10" style="padding-right: 5px;">Senha</td>
                                                    <td class="cadastrotxt">
                                                        <asp:TextBox ID="txtsenha" runat="server" CssClass="textbox" style="margin-left: 0px" TextMode="Password" Width="115px"></asp:TextBox>
                                                        <span class="style42" style="font-family: Verdana; font-size: 19px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; display: inline !important; float: none;">&nbsp;</span><span style="font-family: Verdana; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; display: inline !important; float: none;">&nbsp;&nbsp; <span class="legenda">Para maior segurança não utilize sua senha bancária.</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></td>
                                                </tr>
                                                <tr>
                                                    <td  class="auto-style11" style="padding-right: 5px;">Repete Senha</td>
                                                    <td class="auto-style9">
                                                        <asp:TextBox ID="txtconfirmasenha" runat="server" CssClass="textbox" TextMode="Password" Width="117px"></asp:TextBox>
                                                        <span class="style44" style="font-family: Verdana; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); display: inline !important; float: none;">&nbsp;</span><span class="style48" style="font-family: Verdana; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; display: inline !important; float: none;"> Senha de uso exclusivo no </span>
                                                        <span class="style44" style="font-family: Verdana; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); display: inline !important; float: none;"><strong><span class="legenda">AUTOATENDIMENTO ANAPLAB .&nbsp; </span></strong></span></td>
                                                </tr>
                                                <tr>
                                                    <td bgcolor="White" class="auto-style10" style="padding-right: 5px;">&nbsp; </td>
                                                    <td class="cadastrotxt">&nbsp; </td>
                                                </tr>
                                                <tr>
                                                    <td  class="legenda" colspan="2" style="padding-right: 5px;">Autorização para Débitos em Conta Corrente no Banco do Brasil</td>
                                                </tr>
                                                <tr>
                                                    <td class="auto-style10" style="padding-right: 5px;">
                                                        <br />
                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; AGÊNCIA</td>
                                                    <td class="cadastrotxt"><span style="width: 889px; color: #000080;">
                                                        <br />
                                                        <asp:TextBox ID="txtnragencia" runat="server" CssClass="textbox" MaxLength="4" onkeyup=" formataInteiro(this,event);" Width="116px"></asp:TextBox>
                                                        &nbsp;DV <asp:TextBox ID="txtagenciadigito" runat="server" CssClass="textbox" MaxLength="1" Width="48px"></asp:TextBox>
                                                        &nbsp;&nbsp;&nbsp;&nbsp; CONTA-CORRENTE
                                                        <asp:TextBox ID="TxtcontaCorrente" runat="server" CssClass="textbox" MaxLength="8" onkeyup=" formataInteiro(this,event);" Width="116px"></asp:TextBox>
                                                        DV <asp:TextBox ID="txtcontadigito" runat="server" CssClass="textbox" MaxLength="1" Width="48px"></asp:TextBox>
                                                        </span></td>
                                                </tr>
                                                <tr>
                                                    <td  class="legenda" colspan="2" style="padding-right: 5px;">Valor da Mensalidade: R$15,00 (Quinze Reais)&nbsp; </td>
                                                </tr>
                                                <tr>
                                                    <td class="auto-style10" style="padding-right: 5px;">&nbsp; </td>
                                                    <td class="cadastrotxt">&nbsp; </td>
                                                </tr>
                                                <tr>
                                                    <td class="legenda" colspan="2" style="padding-right: 5px;">
                                                        <asp:CheckBox ID="chkautorizacao" runat="server" Checked="True" Text="Manifesto meu interesse em associar-me à ANAPLAB, a partir desta data, e providenciarei a confirmação da autorização do DÉBITO AUTOMÁTICO da mensalidade em minha conta-corrente acima Identificada, conforme orientações expedidas pela TESOURARIA." />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="legenda" colspan="2" style="padding-right: 5px;">&nbsp; Ao clicar em&nbsp; &quot;enviar&quot; você terá completado o cadastro e receberá, em até 48 horas, um e-mail &nbsp;com a autorização<br /> para débito da mensalidade em conta-corrente.Depois de concluida essa etapa, os beneficios estarão disponíveis.</td>
                                                </tr>
                                            </tr>
                                        </tr>
                                    </tr>
                                </tr>
                            </tr>
                        </table>
                       <!-- <p>
                            
                            <p>
                                <span style=" height: 32px; text-align: center;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <asp:Label ID="lblmensver" runat="server" BackColor="#FF5050" Visible="False"></asp:Label>
                                <asp:Label ID="lblmens" runat="server" ForeColor="Red" Text="Label" Visible="False"></asp:Label>
                                </span>
                                <br />
                                <br />
                                <br />
                                <ContentTemplate>
                                    &nbsp;
                                </ContentTemplate>
                         
                        </p> -->   
                    <span style=" height: 32px; text-align: center;"> 
                       

                        <div style ="clear:both "> <asp:Panel ID="panelaviso" runat="server" Height="27px" style="background-color: #FFCC99" Visible="False">
                            <asp:Label ID="lblAviso" runat="server" style="color: #990000" Text="Label"></asp:Label>
                            </asp:Panel>  
                <asp:Button ID="btnsalvar" runat="server"  BackColor="#333399" BorderColor="#333399" class="botaonovo" ForeColor="White" Height="48px" Text="Enviar" Width="129px" CssClass="textbox" />
                        </span> </div>
    <asp:Button ID="Button1" runat="server" Text="Button" Visible="False" />
    <asp:TextBox ID="listmensagem" runat="server" Height="299px" ReadOnly="True" 
        TextMode="MultiLine" Width="568px" Font-Names="Verdana" Font-Size="Medium" 
        Visible="False"></asp:TextBox>
                


                </ContentTemplate>
          
    </asp:UpdatePanel>
     
         
                    
     </div>

    </form>
    
    </asp:Content>