﻿<%@ Page Title="" Language="VB" MasterPageFile="~/MasterPage3.master" AutoEventWireup="false" CodeFile="Default.aspx.vb" Inherits="_Default" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <%-- <style type="text/css">
        .content {
            width: 92%;
            height: auto;
            margin-top: 20px;
            margin-bottom: 20px;
            border-style: solid;
            border-width: 1px;
            /*border-color:#494949;*/
            padding: 20px;
            margin-left: 40px;
            /*margin-right: 229px;*/
        }

        .botaoimagem {
            width: 88px;
            height: 44px;
        }
    </style>--%>
    <script type="text/javascript">
        function test(cidade) {



            alert(cidade);

        }

        function irlink(linkativo) {



            window.open(linkativo, '_blank');

        }

        function irlinkmesmpagina(linkativo) {

            window.location.href = linkativo;

            //window.open(linkativo);

        }

    </script>



    <script src="js/JScriptmascara.js" type="text/javascript"></script>

    <script language="javascript" type="text/javascript">

        function fecharwelcome() {
            //$('.fechar').click(function (ev) {
            $("#mascara").hide();
            $(".welcomemodal").hide();
            $(".welcomemodal").closest;

            //}

        }

        function exibirwelcome() {
            var alturaTela = $(document).height() * 2;
            var larguraTela = $(window).width();

            // colocando o fundo preto
            debuger;

            //      alert('Registro gravado com sucesso2!');

            var left = ($(window).width() / 2) - ($('#welcomemodal').width() / 4);
            var top = 100;

            $('#welcomemodal1').css({ 'left': 30 });
            $('#welcomemodal1').css({ 'margin-top': 30 });

            $('#welcomemodal1').show();
            //    $('#alterarststatus').load();
        }

        function fecharjaneladonw() {
            //$('.fechar').click(function (ev) {
            $("#mascara").hide();
            $(".janelaarq").hide();
            $(".janelaarq").closest;

            //}

        }
        function exibirjaneladonw() {
            var alturaTela = $(document).height() * 2;
            var larguraTela = $(window).width();

            // colocando o fundo preto


            //      alert('Registro gravado com sucesso2!');

            var left = ($(window).width() / 2) - ($('#alterarststatus').width() / 4);
            var top = 100;

            $('#janeladonw').css({ 'left': 30 });
            $('#janeladonw').css({ 'margin-top': 30 });

            $('#janeladonw').show();
            //    $('#alterarststatus').load();
        }

        function fecharmodalstatus() {
            //$('.fechar').click(function (ev) {
            $("#mascara").hide();
            $(".windowstatus").hide();
            $(".infoconsulta").hide();
            $(".windowstatus").closest;

            //}

        }
        function exibirnovostatus() {
            var alturaTela = $(document).height() * 2;
            var larguraTela = $(window).width();

            // colocando o fundo preto


            //      alert('Registro gravado com sucesso2!');

            var left = ($(window).width() / 2) - ($('#alterarststatus').width() / 4);
            var top = 100;

            $('#alterarststatus').css({ 'left': 30 });
            $('#alterarststatus').css({ 'margin-top': 30 });

            $('#alterarststatus').show();
            //    $('#alterarststatus').load();
        }

        function fecharmodalstatus() {
            //$('.fechar').click(function (ev) {
            $("#mascara").hide();
            $(".windowstatus").hide();
            $(".infoconsulta").hide();
            $(".windowstatus").closest;

            //}

        }
        function exibirnovostatus() {
            var alturaTela = $(document).height() * 2;
            var larguraTela = $(window).width();

            // colocando o fundo preto


            //      alert('Registro gravado com sucesso2!');

            var left = ($(window).width() / 2) - ($('#alterarststatus').width() / 4);
            var top = 100;

            $('#alterarststatus').css({ 'left': 30 });
            $('#alterarststatus').css({ 'margin-top': 30 });

            $('#alterarststatus').show();
            //    $('#alterarststatus').load();
        }
        function exibiralerta1() {




            $('#alerta1').show();
            $('#alerta1').load();
        }
        function escondeexibiralerta1() {




            $('#alerta1').hide();
            $('#alerta1').hide();
        }
        function exibiralerta2() {




            $('#alerta1').show();
            $('#alerta1').load();
        }
        function escondeexibiralerta2() {




            $('#alerta1').hide();
            $('#alerta1').hide();
        }
    </script>



    <%-- <asp:ScriptManager ID="ScriptManager1" runat="server">
    </asp:ScriptManager>--%>
    <div class="row" style="margin-left: 1rem; margin-top: 1rem; margin-right: 1rem;">

        <div class="box box-primary" style="-webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77); -moz-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77); box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);">
            <div class="box box-header ">
                <div class="row">
                    <div class="col-lg-10 ">
                           <b>
                    <asp:Label runat="server" Text="Quadro de Avisos" Font-Size="Large"></asp:Label>
                </b>
                    </div>
                <div class="col-lg-2 text-center" style="display:none">
   <b>Ano Base em uso:
                    <asp:Label runat="server"  id="lblanobaseconfig" CssClass="label-success " Font-Size="Large"></asp:Label>
                </b>
                    </div>
                </div>
             



            </div>
            <div class="box-body">

                <asp:UpdatePanel ID="UpdatePanel2" runat="server">
                    <%-- <Triggers>
        <asp:PostBackTrigger ControlID="grade" />
    </Triggers>--%>
                    <ContentTemplate>
                        <div class="row" style="display:none">
                            <div class="col-lg-1 "></div>
                            <div class="col-lg-9 ">
                                <div class="row">
                                    <div class="col-lg-2 " style="vertical-align: top">
                                        <asp:LinkButton ID="btnpainelgestor" runat="server" type="button" class="brilhar" title="Ver Painel de Colaboradores"><i class="fa fa-search-plus"></i>
                                                    </asp:LinkButton>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-2 text-center">
                                        <asp:Label runat="server" Text="Meus Colaboradores" CssClass="label label-primary "></asp:Label>

                                    </div>
                                </div>

                                <br />

                            </div>
                            <div class="col-lg-2 ">
                                <asp:Label ID="lblnovasenha" runat="server" Text="Sua senha expira em:" CssClass="label-danger "></asp:Label>
                            </div>
                        </div>

                        <div class="row" id="divdados" runat="server">
                            <div class="col-lg-1 "></div>
                            <div class="col-lg-11 ">
                                <div class="row">
                                    <div class="col-lg-12 ">
                                        <span style="color: darkblue"><b>Olá, seja bem vindo ao softclinica.</b> </span>
                                        <br />
                                        Esse é seu primeiro acesso e seus dados estão desatualizados! Vamos atualiza-los?
                                            <br />
                                        Por favor, insira as informações abaixo:
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-lg-3 ">
                                        <span style="color: red">Nome</span>
                                        <br />
                                        <asp:TextBox ID="txtnome" runat="server" CssClass="form-control ">

                                        </asp:TextBox>
                                    </div>
                                    <div class="col-lg-3 ">
                                        <span style="color: red">E-mail</span>
                                        <br />
                                        <asp:TextBox ID="txtemail" runat="server" CssClass="form-control ">

                                        </asp:TextBox>
                                    </div>
                                    <div class="col-lg-3 ">
                                        <br />
                                        <asp:Button ID="btnsalvarinformacoes" runat="server" Text="Salvar" CssClass="btn btn-success" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 text-center">

                                        <br />
                                        <asp:Image ImageUrl="~/img/infoazul.png" Style="width: 2rem; height: 2rem;" runat="server" />
                                        <b>Você pode alterar os demais dados clicando
                                            <asp:LinkButton ID="btnaqui" runat="server" Text="aqui"></asp:LinkButton>
                                            ! E pode também alterar sua foto de perfil... Confira!</b>
                                        <br />
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="row" id="divdesbloqueio" runat="server" style="display:none">
                            <div class="col-lg-12 ">
                                <br />
                                <div class="box box-primary ">
                                    <div class="box box-header text-center">
                                         Você possui solicitações de desbloqueio de metas dos PADs abaixo:
                                    </div>
                                    <div class="box-body ">

                                        <asp:UpdatePanel ID="updategradesol" runat="server">
                                            <ContentTemplate >
                                                  <div class="row">
                                    <div class="col-lg-12 ">
                                        <asp:CheckBox id="chkexibirliberados" runat="server" Text="Exibir liberados" AutoPostBack="true"/>
                                        <br />
                                        <asp:GridView ID="gradesol" runat="server" AutoGenerateColumns="false" GridLines="None" CssClass="table">
                                            <Columns >
                                                 <asp:TemplateField >
                                                    <ItemTemplate >
                                                        <br />
                                                        <asp:Label ID="nritgrade" runat="server" Text='<%#Container.DataItemIndex + 1 %>' CssClass="badge "></asp:Label>
                                                        <asp:HiddenField ID="nrseqsol" runat="server" value='<%#Bind("nrseq") %>'></asp:HiddenField>
                                                    </ItemTemplate>
                                                </asp:TemplateField>
                                                <asp:TemplateField >
                                                    <ItemTemplate >
                                                        Nr PAD<br />
                                                        <asp:Label ID="nrseqpad" runat="server" Text='<%#Bind("nrseqpad") %>'></asp:Label>
                                                        <br />
                                                        Ano Base<br />
                                                        <asp:Label ID="Label1" runat="server" Text='<%#Bind("anobase") %>'></asp:Label>
                                                        <br />
                                                        Etapa<br />
                                                         <asp:Label ID="Label2" runat="server" Text='<%#Bind("etapa") %>'></asp:Label>
                                                    </ItemTemplate>
                                                </asp:TemplateField>
                                                  <asp:TemplateField >
                                                    <ItemTemplate >
                                                        Gestor<br />
                                                        <asp:Label ID="lblgestorgrade" runat="server" Text='<%#Bind("nomegestor") %>'></asp:Label>
                                                        <br />
                                                        Colaborador<br />
                                                        <asp:Label ID="lblcolaboradorgrade" runat="server" Text='<%#Bind("nomecolaborador") %>'></asp:Label>
                                                          <br />
                                                        Motivo<br />
                                                        <asp:Label ID="Label3" runat="server" Text='<%#Bind("descricao") %>'></asp:Label>
                                                    </ItemTemplate>
                                                </asp:TemplateField>
                                                 <asp:TemplateField >
                                                    <ItemTemplate >
                                                        Contrato<br />
                                                        <asp:Label ID="lblcontratograde" runat="server" Text='<%#Bind("contrato") %>' CssClass="label-primary"></asp:Label>
                                                        <br />
                                                        <div id="divliberado" runat="server">
                                                       Liberado por
                                                        <br />
                                                        <asp:Label ID="lblliberadograde" runat="server" Text='<%#Bind("nomeusuario") %>' CssClass="label-danger"></asp:Label></div>
                                                    </ItemTemplate>
                                                </asp:TemplateField>
                                                 <asp:TemplateField  HeaderText="Liberar">
                                                    <ItemTemplate >
                                                      <asp:LinkButton ID="btnliberargrade" runat="server" CssClass="btn btn-default btn-xs" CommandName="feito" CommandArgument='<%#Container.DataItemIndex%>' data-toggle="tooltip" title="Liberar">
                                           <i class="fas fa-thumbs-up "></i></asp:LinkButton> 
                                                       
                                                    </ItemTemplate>
                                                </asp:TemplateField>
                                            </Columns>

                                        </asp:GridView>
                                        </div> 
                                </div>
                                  
                                            </ContentTemplate>
                                        </asp:UpdatePanel>

                                         </div>
                                </div>
                                
                               
                            </div>
                        </div>

                    </ContentTemplate>
                </asp:UpdatePanel>
                <asp:UpdateProgress ID="UpdateProgress1" runat="server" AssociatedUpdatePanelID="UpdatePanel2">
                    <ProgressTemplate>

                        <div style="text-align: center">
                            <asp:Image ID="Image2" ImageUrl="~/img/loading.gif" runat="server" Height="41px" Width="47px" />
                            <br />
                            Atualizando..
                        </div>
                    </ProgressTemplate>
                </asp:UpdateProgress>

            </div>
        </div>

        <div class="box box-warning" style="-webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77); -moz-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77); box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);">
            <div class="box box-header">


                <b>
                    <asp:Label runat="server" Text="Indicadores" Font-Size="Large"></asp:Label>
                </b>

            </div>





            <div class="panel-body">




                <asp:UpdatePanel ID="painelgraficos" runat="server">
                    <ContentTemplate>




                        <div class="row">
                            <div class="col-lg-1 text-center">
                                <asp:LinkButton runat="server" ID="btnMesAnterior"><asp:Image runat ="server" ImageUrl="~/img/anterior01.png" style="width:4rem;height:3.5rem; "/></asp:LinkButton>
                            </div>
                            <div class="col-lg-10 text-center">
                                <asp:Label ID="lblmesref" runat="server" Font-Size="XX-Large"></asp:Label>
                                <asp:HiddenField ID="hddataref" runat="server" />
                                <asp:UpdateProgress ID="UpdateProgress2" runat="server" AssociatedUpdatePanelID="painelgraficos">
                                    <ProgressTemplate>

                                        <div style="text-align: center">
                                            <asp:Image ImageUrl="~/img/loading.gif" runat="server" Height="41px" Width="47px" />

                                        </div>
                                    </ProgressTemplate>
                                </asp:UpdateProgress>
                            </div>
                            <div class="col-lg-1 text-center">
                                <asp:LinkButton runat="server" ID="btnProximoMes"><asp:Image runat ="server" ImageUrl="~/img/proximo01.png" style="width:4rem;height:3.5rem; "/></asp:LinkButton>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 " id="divmaster" runat="server">

                                <div class="row">
                                    <div class="col-lg-6 text-center" style="overflow: auto">
                                        <div class="row" runat="server" id="divgradegrafconsultas">
                                            <div class="col-lg-12 ">
                                                 <asp:Label ID="lblgrafconsultastitle" runat="server" Font-Bold="true" Text="Resumo de Consultas"></asp:Label>
                                                <br />
                                                <br />
                                                <asp:Chart ID="grafconsultas" runat="server" ImageLocation="~/TempImages/ChartPic_#SEQ(300,3)" Palette="BrightPastel">
                                                    <Series>

                                                        <asp:Series ChartArea="ChartArea1" ChartType="Pie" Font="Microsoft Sans Serif, 12pt" IsValueShownAsLabel="True" Legend="Legend1" Name="Default" XValueMember="status" YValueMembers="valor">
                                                        </asp:Series>

                                                    </Series>
                                                    <ChartAreas>
                                                        <asp:ChartArea Area3DStyle-Enable3D="true" BackColor="White" Name="ChartArea1">
                                                            <Area3DStyle Enable3D="True" />
                                                        </asp:ChartArea>
                                                    </ChartAreas>
                                                    <Legends>
                                                        <asp:Legend BackImageAlignment="BottomLeft" Docking="Bottom" Name="Legend1" Alignment="Center" MaximumAutoSize="70">
                                                        </asp:Legend>
                                                    </Legends>
                                                    <Titles>
                                                        <asp:Title Name="Title1" Text=" ">
                                                        </asp:Title>
                                                    </Titles>
                                                </asp:Chart>


                                            </div>
                                        </div>
                                           <div class="row" runat="server" id="divgradeconsultas">
                                            <div class="col-lg-12 ">
                                                <asp:GridView  id="graderesumoconsultas" runat="server" >
                                                    <Columns >

                                                    </Columns>
                                                </asp:GridView>
                                                <asp:Button ID="btnvoltargrafconsultas" runat="server" Text="Voltar"  CssClass="btn btn-success " />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 text-center" style="overflow: auto">
                                            <div class="row" runat="server" id="divgradegrafprocedimentos">
                                            <div class="col-lg-12 ">
                                                 <asp:Label ID="lblgrafprocedimentostitle" runat="server" Font-Bold="true" Text="Resumo de Procedimentos"></asp:Label>
                                                <br />
                                                <br />
                                                <asp:Chart ID="grafprocedimentos" runat="server" ImageLocation="~/TempImages/ChartPic_#SEQ(300,3)" Palette="BrightPastel">
                                                    <Series>

                                                        <asp:Series ChartArea="ChartArea1" ChartType="Pie" Font="Microsoft Sans Serif, 12pt" IsValueShownAsLabel="True" Legend="Legend1" Name="Default" XValueMember="status" YValueMembers="valor">
                                                        </asp:Series>

                                                    </Series>
                                                    <ChartAreas>
                                                        <asp:ChartArea Area3DStyle-Enable3D="true" BackColor="White" Name="ChartArea1">
                                                            <Area3DStyle Enable3D="True" />
                                                        </asp:ChartArea>
                                                    </ChartAreas>
                                                    <Legends>
                                                        <asp:Legend BackImageAlignment="BottomLeft" Docking="Bottom" Name="Legend1" Alignment="Center" MaximumAutoSize="70">
                                                        </asp:Legend>
                                                    </Legends>
                                                    <Titles>
                                                        <asp:Title Name="Title1" Text=" ">
                                                        </asp:Title>
                                                    </Titles>
                                                </asp:Chart>


                                            </div>
                                        </div>
                                           <div class="row" runat="server" id="divgradeprocedimentos">
                                            <div class="col-lg-12 ">
                                                <asp:GridView  id="graderesumoprocedimentos" runat="server" >
                                                    <Columns >

                                                    </Columns>
                                                </asp:GridView>
                                                <asp:Button ID="btnvoltargrafprocedimentos" runat="server" Text="Voltar"  CssClass="btn btn-success " />
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 text-center" style="overflow: auto">
                                            <div class="row" runat="server" id="divgradegrafcaixas">
                                            <div class="col-lg-12 ">
                                                 <asp:Label ID="lblgrafcaixastitle" runat="server" Font-Bold="true" Text="Resumo de caixas"></asp:Label>
                                                <br />
                                                <br />
                                                <asp:Chart ID="grafcaixas" runat="server" ImageLocation="~/TempImages/ChartPic_#SEQ(300,3)" Palette="BrightPastel">
                                                    <Series>

                                                        <asp:Series ChartArea="ChartArea1" ChartType="Pie" Font="Microsoft Sans Serif, 12pt" IsValueShownAsLabel="True" Legend="Legend1" Name="Default" XValueMember="status" YValueMembers="valor">
                                                        </asp:Series>

                                                    </Series>
                                                    <ChartAreas>
                                                        <asp:ChartArea Area3DStyle-Enable3D="true" BackColor="White" Name="ChartArea1">
                                                            <Area3DStyle Enable3D="True" />
                                                        </asp:ChartArea>
                                                    </ChartAreas>
                                                    <Legends>
                                                        <asp:Legend BackImageAlignment="BottomLeft" Docking="Bottom" Name="Legend1" Alignment="Center" MaximumAutoSize="70">
                                                        </asp:Legend>
                                                    </Legends>
                                                    <Titles>
                                                        <asp:Title Name="Title1" Text=" ">
                                                        </asp:Title>
                                                    </Titles>
                                                </asp:Chart>


                                            </div>
                                        </div>
                                           <div class="row" runat="server" id="divgradecaixas">
                                            <div class="col-lg-12 ">
                                                <asp:GridView  id="graderesumocaixas" runat="server" >
                                                    <Columns >

                                                    </Columns>
                                                </asp:GridView>
                                                <asp:Button ID="btnvoltargrafcaixas" runat="server" Text="Voltar"  CssClass="btn btn-success " />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <hr style="border-color: deepskyblue" />
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-lg-12 text-center" style="overflow: auto">
                                        <div class="bloco-programas">
                                            <div style="overflow: auto">
                                                <asp:Chart ID="grafmedia" runat="server" Height="500px" ImageLocation="~/TempImages/ChartPic_#SEQ(300,3)" Palette="BrightPastel" Width="900px">
                                                    <Series>

                                                        <asp:Series ChartArea="ChartArea1" Font="Microsoft Sans Serif, 12pt" IsValueShownAsLabel="True" Legend="Legend1" LegendText="Colaborador" Name="Default" XValueMember="nomecolaborador" YValueMembers="pontosresultado" CustomProperties="DrawingStyle=Cylinder, 
         MaxPixelPointWidth=50"
                                                            ShadowOffset="2" ChartType="StackedColumn">
                                                        </asp:Series>
                                                        <asp:Series ChartArea="ChartArea1" Font="Microsoft Sans Serif, 12pt" IsValueShownAsLabel="false" Legend="Legend1" LegendText="Media Geral" Name="xmedia" XValueMember="nomecolaborador" YValueMembers="media" ChartType="Line" CustomProperties="MaxPixelPointWidth=50" Color="#CC3300">
                                                        </asp:Series>

                                                        <%-- <asp:Series ChartArea="ChartArea1" Font="Microsoft Sans Serif, 12pt" IsValueShownAsLabel="True" Legend="Legend1" LegendText="Em Análise" Name="Default2" XValueMember="data" YValueMembers="abertos" Color="#993333" ChartType="FastLine">
                                        </asp:Series>--%>
                                                    </Series>
                                                    <ChartAreas>
                                                        <asp:ChartArea Area3DStyle-Enable3D="false" BackColor="White" Name="ChartArea1">
                                                            <Area3DStyle Enable3D="false" />
                                                        </asp:ChartArea>
                                                    </ChartAreas>
                                                    <Legends>
                                                        <asp:Legend BackImageAlignment="BottomLeft" Docking="Bottom" Name="Legend1" Alignment="Center" MaximumAutoSize="70">
                                                        </asp:Legend>
                                                    </Legends>
                                                    <Titles>

                                                        <asp:Title Name="Title1" Text="Média das pontuações dos colaboradores" Font="Microsoft Sans Serif, 18pt, style=Bold">
                                                        </asp:Title>
                                                    </Titles>
                                                </asp:Chart>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <hr style="border-color: deepskyblue" />
                                    </div>
                                </div>
                                <div class="row">
                                </div>
                                <div class="row">

                                    <div class="col-lg-12 text-center">
                                        <div class="bloco-programas">
                                            <div class="form-group" style="display: none;">

                                                <asp:Chart ID="Chart2" runat="server" Height="400px" ImageLocation="~/TempImages/ChartPic_#SEQ(300,3)" Palette="BrightPastel" Width="550px">
                                                    <Series>
                                                        <asp:Series ChartArea="ChartArea1" ChartType="Pie" Font="Microsoft Sans Serif, 12pt" IsValueShownAsLabel="True" Legend="Legend1" Name="Default" XValueMember="filial" YValueMembers="total">
                                                        </asp:Series>
                                                    </Series>
                                                    <ChartAreas>
                                                        <asp:ChartArea Area3DStyle-Enable3D="true" BackColor="white" Name="ChartArea1">
                                                            <Area3DStyle Enable3D="True" />
                                                        </asp:ChartArea>
                                                    </ChartAreas>
                                                    <Legends>
                                                        <asp:Legend BackImageAlignment="BottomLeft" Docking="Bottom" Name="Legend1" Alignment="Center" MaximumAutoSize="100">
                                                        </asp:Legend>
                                                    </Legends>
                                                    <Titles>
                                                        <asp:Title Name="Title1" Text="Station">
                                                        </asp:Title>
                                                    </Titles>
                                                </asp:Chart>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 text-center" style="display: none;">
                                        <div class="form-group">

                                            <asp:Chart ID="grafTypeCustomers" runat="server" Height="400px" ImageLocation="~/TempImages/ChartPic_#SEQ(300,3)" Palette="BrightPastel" Width="550px">
                                                <Series>
                                                    <asp:Series ChartArea="ChartArea1" ChartType="Pie" Font="Microsoft Sans Serif, 12pt" IsValueShownAsLabel="false" Legend="Legend1" Name="Default" XValueMember="tipocliente" YValueMembers="total">
                                                    </asp:Series>
                                                </Series>

                                                <ChartAreas>
                                                    <asp:ChartArea Area3DStyle-Enable3D="true" BackColor="white" Name="ChartArea1">
                                                        <Area3DStyle Enable3D="True" />
                                                    </asp:ChartArea>
                                                </ChartAreas>
                                                <Legends>
                                                    <asp:Legend BackImageAlignment="BottomLeft" Docking="Bottom" Name="Legend1" Alignment="Center" MaximumAutoSize="100">
                                                    </asp:Legend>
                                                </Legends>
                                                <Titles>
                                                    <asp:Title Name="Title1" Text="Customers Type">
                                                    </asp:Title>
                                                </Titles>
                                            </asp:Chart>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ContentTemplate>
                </asp:UpdatePanel>
            </div>

        </div>

    </div>
    <div class="row" style="margin-left: 1rem; margin-right: 1rem; display: none">

        <div class="panel panel-primary" style="-webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77); -moz-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77); box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-1 ">
                        <img src="/img/placaolho.png" style="width: 4rem; height: 3.5rem;" />
                    </div>
                    <div class="col-lg-10 text-center">
                  <asp:Label runat="server" Text="O que posso ver ?" Font-Size="Large" ></asp:Label>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="form-group">
                            
                                    <asp:Label ID="lblpermissao" runat="server" Text="" ForeColor="Red" Font-Size="Medium"></asp:Label>
                               
                        </div>

                    </div>
                </div>
            </div>
        </div>



    </div>


</asp:Content>

