﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="documentos.aspx.vb" MasterPageFile="~/MasterPage2.master" Inherits="documentos" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
    <%--   <style>
  

.cardtrip {
  display: flex;
  height: 280px;
  width: 200px;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
/*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.cardtrip:not(:first-child) {
    margin-left: 0px;
}

.cardtrip:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.cardtrip:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}

.bar {
  position: absolute;
  top: 100px;
  left: 20px;
  height: 5px;
  width: 150px;
}

.emptybar {
  background-color: #2e3033;
  width: 100%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0,154,217);
  background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
  transition: 0.6s ease-out;
}

.cardtrip:hover .filledbar {
  width: 120px;
  transition: 0.4s ease-out;
}

.circle {
  position: absolute;
  top: 150px;
  left: calc(50% - 60px);
}

.stroke {
  stroke: white;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}

svg {
  fill: #17141d;
  stroke-width: 2px;
}

.cardtrip:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}
    </style>--%>

    <style>
        divbalancete {
            border: 1px solid black;
            width: 200px;
            height: 100px;
            overflow: scroll;
        }
    </style>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400" rel="stylesheet">
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">

        <asp:UpdatePanel runat="server">
        <Triggers >
            <asp:PostBackTrigger ControlID="gradebalanco" />
        </Triggers>
        <ContentTemplate>
    <br />
    <br />

    <center><panel><h3> DOCUMENTOS DA ANAPLAB</h3></panel></center>
    <center><h5>Todos os documentos da ANAPLAB estão disponíveis para download.</h5></center>
    <br>
    <br>

    <center>
            <div class="row iconsBeneficios">
                <div class="col-md-9">
                <div class="col-md-2" >
                    <center><a style="color:darkmagenta;" href="documentos-downloads-anaplab-2020\estatuto.pdf" target="_blank">
                    <i class="fas fa-folder" style="color:chocolate"></i>
                    <p>ESTATUTO</a></p>
                    </center>
                </div>
                     <div class="col-md-2">
                    <center>
                    <i class="fas fa-folder" style="color:chocolate"></i>
                    <p><a style="color:darkmagenta;" href="documentos-downloads-anaplab-2020/CNPJ_ANAPLAB.pdf" target="_blank">CNPJ</a></p>
                    </center>
                </div>
                     <div class="col-md-2">
                    <center>
                    <i class="fas fa-folder" style="color:chocolate"></i>
                    <p><a style="color:darkmagenta;" href="documentos-downloads-anaplab-2020/CNPJ_Filial ANAPLAB.pdf" target="_blank">CNPJ RIO DE JANEIRO</a></p>
                    </center>
                </div>
                     <div class="col-md-2">
                    <center>
                    <i class="fas fa-folder" style="color:chocolate"></i>
                    <p><a style="color:darkmagenta;" href="documentos-downloads-anaplab-2020/Carta_de_Conclusão_Abertura_Anaplab.pdf" target="_blank"> CARTA DE ABERTURA </a></p>
                    </center>
                </div>  <div class="col-md-2">
                    <center>
                    <i class="fas fa-folder" style="color:chocolate"></i>
                    <p><a style="color:darkmagenta;" href="documentos-downloads-anaplab-2020/ALVARÁ ANAPLAB 2019.pdf" target="_blank">ALVARÁ</a></p>
                    </center>
                </div>
                     <div class="col-md-2">
                    <center>
                    <i class="fas fa-search" style="color:aquamarine"></i>
                    <p><asp:linkbutton runat="server" id="btnmostrabalancete" style="color:darkmagenta;">BALANCETES</asp:linkbutton></p>
                    </center>
                </div>
            </div>
                
                <div class="col-md-3" style="padding: 15px 0px">                        
                    <div class="row">
               <asp:GridView ID="gradebalanco" runat="server" ShowHeaderWhenEmpty="true" EmptyDataText="Nenhuma doca cadastrada !"  GridLines="none" AutoGenerateColumns="false">
                        <Columns>
                        <asp:TemplateField HeaderText="Arquivos ">
                            <ItemTemplate>
                                <asp:HiddenField ID="hdnrseqgrade" runat="server" Value='<%#Bind("nrseq")%>'></asp:HiddenField>
                                <asp:HiddenField ID="hdarquivo" runat="server" Value='<%#Bind("arquivo")%>'></asp:HiddenField>
                                <asp:LinkButton ID="btnbaixar" runat="server" CssClass="btn btn-secondary btn-sm" CommandName="baixar" autopostback="true" CommandArgument='<%#Container.DataItemIndex%>'>
                            <i class="fa fa-download"></i></asp:LinkButton>
                            </ItemTemplate>
                        </asp:TemplateField>
                        <asp:BoundField DataField="nome" HeaderText=" 
                            Balancete" />
                    </Columns>
                </asp:GridView>

                    </div>
                </div>
            </div>
 </center>

            
                        </ContentTemplate>
                </asp:UpdatePanel>

    <script>
        var x = 0;
        function myFunction() {
            document.getElementById("demo").innerHTML = x += 1;
        }
    </script>

</asp:Content>
