﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="eleicoes2020.aspx.vb" Inherits="eleicoes2020" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>

    <style type="text/css">
        html, body, .main, .main iframe {
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
        <div class="main">
            <iframe src="eleicoes/app.pdf" ></iframe>

        </div>
    </form>
</body>
</html>
