﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="novocliente.aspx.vb" Inherits="novocliente" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
       <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SoftClinica - SmartCode Soluções em Softwares</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <script src="js/JScriptmascara.js" type="text/javascript"></script>
    <script src="assets/plugins/sweetalert2/sweetalert2.all.min.js"></script>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/bower_components/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="/dist/css/skins/_all-skins.min.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    <script src="/dist/js/sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/dist/js/adminlte.min.js"></script>
    <script src="js/jquery.mask.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.5.3/js/bootstrap-colorpicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.5.3/css/bootstrap-colorpicker.min.css" />

    <link rel="stylesheet" href="/bower_components/select2/dist/css/select2.min.css">
    <script src="/bower_components/select2/dist/js/select2.full.min.js"></script>
    <link rel="stylesheet" href="/dist/css/AdminLTE.min.css">
    <script src="https://kit.fontawesome.com/dfed75f8a4.js"></script>
</head>
<body>
    <form id="form1" runat="server">
        <div class="row">
            <div class="col-lg-4 ">
                CPF
                <br />
                <asp:TextBox ID="txtcpf" runat="server" CssClass="form-control "></asp:TextBox>
            </div>
            <div class="col-lg-4 ">
                Nome
                <br />
                <asp:TextBox ID="txtnome" runat="server" CssClass="form-control "></asp:TextBox>
            </div>

            <div class="col-lg-4 ">

            </div>

        </div>
         <div class="row">
            <div class="col-lg-4 ">
                CPF
                <br />
                <asp:TextBox ID="TextBox1" runat="server" CssClass="form-control "></asp:TextBox>
            </div>
            <div class="col-lg-4 ">
                Nome
                <br />
                <asp:TextBox ID="TextBox2" runat="server" CssClass="form-control "></asp:TextBox>
            </div>

            <div class="col-lg-4 ">

            </div>

        </div>
    </form>
</body>
</html>
