﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="ops2.aspx.vb" Inherits="ops2" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>>Desculpe, você não tem acesso à página !</title>
    <style>
        html { 
   background: url(erro.png) no-repeat center center fixed; 
   background-size:100% 100%;
}
        #page-wrap { width: 400px; margin: 50px auto; padding: 20px; background: white; -moz-box-shadow: 0 0 20px black; -webkit-box-shadow: 0 0 20px black; box-shadow: 0 0 20px black; }
		p { font: 15px/2 Georgia, Serif; margin: 0 0 30px 0; text-indent: 40px; }
    </style>
</head>
<body>
    <form id="form1" runat="server" class ="html">
    <div id="page-wrap">
        <center>
        <a href="http://cevacte.sistemasceva.com.br" target="new"><img src="img/simbolo.jpg" alt="" style="width: 48px; height: 46px"/></a>
        <p>Ops, de novo? Erramos o caminho !</p>
        <p>Vamos tentar te auxiliar!!!</p>
        <p>O que você está procurando??</p>
        <p><a href="http://cevacte.sistemasceva.com.br/login.aspx" >Vamos voltar ao início???</p>
         </center>
    </div>
    </form>
</body>
</html>
