﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="paginacaixapostal.aspx.vb" Inherits="paginacaixapostal" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <p runat="server" id="txttexto"></p>
</body>
</html>
