﻿<%@ Page Title="" Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="painel.aspx.vb" Inherits="painel" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">


    <script type="text/javascript">

        function irlink(linkativo) {

            window.open(linkativo, '_blank');

        }

        function irpaineldados() {

            $("html, body").animate({
                scrollTop: 0
            }, 1200);


            $("html, body").animate({
                scrollTop: 0
            }, 1200);

            //$("html, body").animate({
            //    scrollTop: $($.attr(this, 'alerta1')).offset().top
            //}, 1200);
            //$("html, body").animate({
            //    scrollTop: $($.attr(this, 'alerta1')).offset().top
            //}, 1200);


        }

        function fecharresultado() {
            //$('.fechar').click(function (ev) {
            $("#mascara").hide();
            $(".windowstatus").hide();
            $(".infoconsulta").hide();
            $(".windowstatus").closest;

            //}

        }
        function exibirnovostatus() {


            $('#alterarststatus').show();
            //    $('#alterarststatus').load();
        }

        function exibiralerta1() {




            $('#alerta1').show();
            $('#alerta1').load();
        }
        function escondeexibiralerta1() {




            $('#alerta1').hide();
            $('#alerta1').hide();
        }

    </script>
    <link rel="stylesheet" href="visual.css">


    <style>
        .frame {
            height: 90%;
            width: 100%;
        }

        .windowstatus {
            /*border-width: 2px;
            border-style: solid;
            border-color: #800000;
            display: none;
            width: 90%;
            height: 80%;
            position: absolute;
            left: 45px;
            top: 65px;
            background: white;
            z-index: 9900;
            padding: 5px;
            text-align: left;
            /*margin-top: 430px;*/
            border-width: 2px;
            border-style: solid;
            border-color: #800000;
            display: none;
            width: 1400px;
            height: 650px;
            position: absolute;
            left: 45px;
            top: 65px;
            background: white;
            z-index: 9900;
            padding: 5px;
            text-align: left;
            /*margin-top: 430px;*/
            -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
            -moz-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
            box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
        }

        #mascara {
            display: none;
            width: 43%;
            /*height:40px;*/
            position: absolute;
            left: 29px;
            top: 203px;
            padding: 10px;
            text-align: left;
            margin-top: 430px;
            z-index: 9000;
            background-color: black;
            /*display:none;*/
            pointer-events: none;
        }

        #modal {
            background: rgba(0,0,0, 0.5);
            width: 100%;
            height: 100%;
            position: fixed;
            left: 0;
            top: 0;
        }

        .modal-box {
            background: #FFF;
            width: 80%;
            height: 400px;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -45%;
            margin-top: -150px;
            /*display: none;*/
        }

        .fechar {
            padding: 5px 10px;
            border: 1px solid #CCC;
            position: absolute;
            right: 3px;
            top: 3px;
            border-radius: 7px;
            color: #800000;
            cursor: pointer;
        }

            .fechar:hover {
                color: #800000;
                border-color: #800000;
            }







        #boxes .window {
            position: fixed;
            left: 0;
            top: 40px !important;
            width: 800px;
            height: 500px;
            display: none;
            z-index: 9999;
            padding: 20px;
            border-radius: 20px;
        }

        .botaoredondocinza {
            background-color: #B0C4DE;
            color: white;
            box-shadow: 5px 5px 3px #000;
            border-radius: 10px
        }

        .botaored {
            background-color: #fff;
            color: #990033;
            border-radius: 10px
        }

            .botaored:hover {
                background-color: #990033;
                color: #fff;
                border-radius: 10px
            }


        .botaoredondovermelho {
            background-color: #B22222;
            color: white;
            border-radius: 10px
        }

        .botaoredondoverde {
            background-color: #228B22;
            color: white;
            border-radius: 10px
        }

        .botaoredondo {
            background-color: #990033;
            color: white;
            border-radius: 10px
        }

        .botaored2 {
            background-color: #990033;
            color: white;
        }
    </style>





    <asp:UpdatePanel ID="updategeral" runat="server">
        <Triggers>
            <%--<asp:AsyncPostBackTrigger ControlID="grade" EventName="RowCommand" />--%>
            <asp:PostBackTrigger ControlID="btnbaixararqs" />
        </Triggers>
        <ContentTemplate>



            <div class="box box-primary" style="-webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77); -moz-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77); box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);" id="divprincipal" runat="server">

                <div class="box box-header ">
                    <b>Painel de Acompanhamento</b>
                </div>
                <div class="box-body">
                    <asp:UpdatePanel ID="UpdatePanel2" runat="server">
                        <Triggers>
                            <%--<asp:AsyncPostBackTrigger ControlID="grade" EventName="RowCommand" />--%>
                            <asp:PostBackTrigger ControlID="btnbaixararqs" />
                        </Triggers>
                        <ContentTemplate>

                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">

                                        <asp:Label ID="Label1" runat="server" Text="Gestor"></asp:Label>
                                        <br />
                                        <asp:DropDownList ID="cbogestor" runat="server" class="form-control"></asp:DropDownList>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <asp:Label ID="Label2" runat="server" Text="Colaborador"></asp:Label>
                                        <br />
                                        <asp:TextBox ID="txtcolaborador" runat="server" class="form-control">
                                        </asp:TextBox>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <asp:Label ID="Label4" runat="server" Text="Ano"></asp:Label>
                                        <br />
                                        <asp:TextBox ID="txtano" runat="server" class="form-control" Style="text-align: center;">
                                        </asp:TextBox>
                                    </div>
                                </div>


                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <br />
                                        <asp:Button ID="btnProcurar" runat="server" Text="     Procurar     " CssClass="btn btn-primary" />
                                    </div>
                                </div>
                            </div>
                             <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">

                                        <asp:Label ID="Label3" runat="server" Text="Contrato"></asp:Label>
                                        <br />
                                        <asp:DropDownList ID="cbocontrato" runat="server" class="form-control"></asp:DropDownList>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <asp:Label ID="Label5" runat="server" Text="Cidade"></asp:Label>
                                        <br />
                                      <asp:DropDownList ID="cbocidade" runat="server" class="form-control"></asp:DropDownList>
                                    </div>
                                </div>
                                 </div> 

                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <asp:UpdateProgress ID="UpdateProgress1" runat="server" AssociatedUpdatePanelID="UpdatePanel2">
                                        <ProgressTemplate>
                                            Carregando...
                                                <br />
                                            <img src="../img/loaddouble01.gif" style="width: 9rem; height: 9rem;" />
                                        </ProgressTemplate>
                                    </asp:UpdateProgress>
                                </div>
                            </div>

                            <div runat="server" id="divgrade">

                                <div class="row">
                                    <div class="col-lg-12">
                                        <br />
                                        <asp:CheckBox ID="chkseltodos" AutoPostBack="true" runat="server" Text="Selecionar Todos" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">



                                            <%--<asp:Button ID="btnteste1" runat="server" Text="teste" />--%>




                                            <br />
                                            <div style="overflow: auto">
                                                <asp:GridView ID="grade" runat="server" AutoGenerateColumns="False" CellPadding="4" Width="100%" PageSize="200" ShowHeaderWhenEmpty="True" CssClass="table" ForeColor="Black" GridLines="Horizontal" AllowPaging="True">
                                                    <Columns>
                                                        <asp:TemplateField HeaderText="Sel" ItemStyle-HorizontalAlign="Center">

                                                            <ItemTemplate>
                                                                <asp:CheckBox ID="sel1" runat="server" /><br />

                                                                <asp:Label ID="lblitem" runat="server" class="badge" Style="background-color: #181B34; color: white;"></asp:Label>

                                                            </ItemTemplate>
                                                        </asp:TemplateField>
                                                        <asp:TemplateField HeaderText="Opções">
                                                            <ItemTemplate>

                                                                <div class="bloco-imagens">
                                                                    <asp:LinkButton ID="btnabrirgrade" CommandName="Abrir" CommandArgument='<%#Container.DataItemIndex%>' data-toggle="tooltip" title="Abrir" runat="server">
                                                                        <asp:Image ID="imgabrirgrade" runat="server" ImageUrl="~/img/imgokboll.png" Style="height: 2.5rem; width: 2.5rem;" />
                                                                    </asp:LinkButton>
                                                                </div>
                                                                <br />
                                                                <div class="bloco-imagens">
                                                                    <asp:LinkButton ID="btnimprimir" CommandName="Imprimir" CommandArgument='<%#Container.DataItemIndex%>' data-toggle="tooltip" title="Imprimir" runat="server">
                                                                        <asp:Image ID="Image1" runat="server" ImageUrl="~/img/print01.png" Style="height: 2.5rem; width: 2.5rem;" />
                                                                    </asp:LinkButton>
                                                                </div>
                                                                <br />
                                                                <div class="bloco-imagens">
                                                                    <asp:LinkButton ID="btnemail" CommandName="Email" CommandArgument='<%#Container.DataItemIndex%>' data-toggle="tooltip" title="Enviar PAD por e-mail" runat="server">
                                                                        <asp:Image ID="Image2" runat="server" ImageUrl="~/img/email01.png" Style="height: 2.5rem; width: 2.5rem;" />
                                                                    </asp:LinkButton>
                                                                </div>
                                                            </ItemTemplate>


                                                        </asp:TemplateField>
                                                        <asp:TemplateField HeaderText="ID ">
                                                            <ItemTemplate>
                                                                Id PAD
                            <br />
                                                                <span class="label label-warning ">
                                                                    <asp:Label ID="lblnrseqgrade" runat="server" Text='<%# Bind("nrseq") %>'></asp:Label></span>
                                                                <br />
                                                                Gestor
                            <br />
                                                                <span class="label label-primary  ">
                                                                    <asp:Label ID="lblgestor" runat="server" Font-Size="Large" Text='<%# Bind("matriculagestor") %>'></asp:Label></span>
                                                                <br />
                                                                <asp:Label ID="lblnomegestor" runat="server" Font-Size="Large" Text='<%# Bind("nomegestor") %>'></asp:Label>

                                                            </ItemTemplate>
                                                        </asp:TemplateField>
                                                        <%-- <asp:BoundField DataField="nrseq" HeaderText="Lote Ceva" />
                    <asp:TemplateField >
                        <ItemTemplate >
                           
                        </ItemTemplate>
                    </asp:TemplateField>--%>
                                                        <%--<asp:BoundField DataField="loteempresa" HeaderText="Nr Fatura" />--%>
                                                        <asp:TemplateField HeaderText="Colaborador">
                                                            <ItemTemplate>
                                                                Colaborador
                            <br />
                                                                <span class="label label-success ">
                                                                    <asp:Label ID="lblcolaborador" runat="server" Font-Size="Large" Text='<%# Bind("matriculacolaborador") %>'></asp:Label></span>
                                                                <br />
                                                                <asp:Label ID="lblnomecola" runat="server" Font-Size="Large" Text='<%# Bind("nomecolaborador") %>'></asp:Label>
                                                                <br />
                                                                <asp:Label ID="lblcargopainel" runat="server" Font-Size="small" Text='<%# Bind("descricaocargo") %>'></asp:Label>
                                                            </ItemTemplate>
                                                        </asp:TemplateField>


                                                        <asp:BoundField DataField="anobase" HeaderText="Ano Base" />
                                                        <asp:BoundField DataField="ativo" HeaderText="Ativo" />
                                                        <%--<asp:BoundField DataField="descricaoresultado" HeaderText="Resultado" />--%>
                                                        <asp:TemplateField HeaderText="Resultado">
                                                            <ItemTemplate>
                                                                <div class="row">
                                                                    <div class="col-lg-2  ">
                                                                        <asp:Image ID="imgfitagrade" runat="server" ImageUrl="~/img/fitapremio.png" Style="width: 2rem; height: 3rem;" />
                                                                    </div>
                                                                    <div class="col-lg-10  ">
                                                                        <asp:Label ID="lblresultadograde" runat="server" Text='<%#Bind("descricaoresultado") %>'></asp:Label>
                                                                        <br />

                                                                    </div>
                                                                </div>
                                                                <div id="divpontosgrade" runat="server" class="text-center">
                                                                    <hr style="border-color: cornflowerblue" />

                                                                    Pontos Obtidos:
                                                            <br />
                                                                    <asp:Label ID="lblpontosgrade" runat="server" CssClass="badge" Style="background-color: #181B34; color: white;" Text='<%#Bind("pontosresultado") %>'></asp:Label>
                                                                </div>

                                                            </ItemTemplate>

                                                        </asp:TemplateField>


                                                    </Columns>
                                                    <%-- <FooterStyle BackColor="#FFFFCC" ForeColor="#330099" />
                <HeaderStyle BackColor="#990000" Font-Bold="True" ForeColor="#FFFFCC" />
                <PagerStyle BackColor="#FFFFCC" ForeColor="#330099" HorizontalAlign="Center" />
                <RowStyle BackColor="White" ForeColor="#330099" />
                <SelectedRowStyle BackColor="#FFCC66" Font-Bold="True" ForeColor="#663399" />--%>
                                                    <SortedAscendingCellStyle BackColor="#FEFCEB" />
                                                    <SortedAscendingHeaderStyle BackColor="#AF0101" />
                                                    <SortedDescendingCellStyle BackColor="#F6F0C0" />
                                                    <SortedDescendingHeaderStyle BackColor="#7E0000" />
                                                </asp:GridView>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <asp:UpdatePanel ID="updategerar" runat="server">
                                    <Triggers>
                                        <%--<asp:AsyncPostBackTrigger ControlID="grade" EventName="RowCommand" />--%>
                                        <asp:PostBackTrigger ControlID="btnbaixararqs" />
                                    </Triggers>
                                    <ContentTemplate>
                                        <div class="row" id="divexportar" runat="server">
                                            <div class="col-lg-12 text-center ">
                                                <br />
                                                <asp:Button ID="btnexportartodos" runat="server" Text="Gerar PADs em lote" CssClass="btn btn-warning " />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 text-center">
                                                <asp:UpdateProgress ID="UpdateProgress2" runat="server" AssociatedUpdatePanelID="updategerar">
                                                    <ProgressTemplate>
                                                        Carregando...
                                                <br />
                                                        <img src="../img/loaddouble01.gif" style="width: 9rem; height: 9rem;" />
                                                    </ProgressTemplate>
                                                </asp:UpdateProgress>
                                            </div>
                                        </div>
                                        <div id="divbaixar" runat="server">
                                            <div class="row">
                                                <div class="col-lg-12 text-center ">
                                                    <asp:HiddenField ID="hdnomearquivo" runat="server" />
                                                    Que bom! Seu arquivo foi gerado com sucesso!
                                    <br />
                                                    <asp:Button ID="btnbaixararqs" runat="server" Text="Baixar PADs selecionados" CssClass="btn btn-success " />

                                                </div>
                                            </div>
                                        </div>

                                    </ContentTemplate>
                                </asp:UpdatePanel>

                            </div>
                        </ContentTemplate>
                    </asp:UpdatePanel>
                </div>
            </div>

        </ContentTemplate>
    </asp:UpdatePanel>




</asp:Content>

