﻿<%@ Page Title="" Language="VB" MasterPageFile="~/relatorios/MasterPrint.master" AutoEventWireup="false" CodeFile="aniversariantes.aspx.vb" Inherits="relatorios_aniversariantes" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPagina" Runat="Server">

           <div class="row">
                <div class="col s12 blue lighten-5 bordered-full">
                    <br />
                      <div class="col s6 left-align">
                          <h3 id="empresa" runat="server">Relatório de Aniversariantes</h3>
                      </div>
                      <div class="col s6 right-align">
                          <img src="../../img/logo.png">
                     </div>
                   <%--  <div class="col s6 right-align">
                         <strong>Relatório de Aniversariantes</strong>
                     </div>--%>
               </div>
            </div>

                <div class="col s10" runat="server">
                     
                    <asp:GridView ID="gradeclientes" runat="server" CssClass="table"  AutoGenerateColumns="false" GridLines="None">
                        <Columns>
                            
                            
                            <asp:BoundField DataField="nome" HeaderText="Paciente" />
                            <asp:BoundField DataField="dtnasc" HeaderText="Data de Nascimento" />
                      <%--      <asp:BoundField DataField="logradouro" HeaderText="Endereço" />
                            <asp:BoundField DataField="bairro" HeaderText="Bairro" />
                            <asp:BoundField DataField="cidade" HeaderText="Cidade" />
                            <asp:BoundField DataField="telresidencia" HeaderText="Tel Residencial" />
                            <asp:BoundField DataField="telcelular" HeaderText="Celular" />--%>


                        </Columns>
                    </asp:GridView>
                </div>
</asp:Content>

