@media all {
.hide {
  display: none !important;
}

.left-align {
  text-align: left !important;
}

.right-align {
  text-align: right !important;
}

.center, .center-align {
  text-align: center !important;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.container {
  margin: 0 auto !important;
  max-width: 1280px !important;
  width: 90% !important;
}

.container .row {
  margin-left: -0.75rem !important;
  margin-right: -0.75rem !important;
}

.section {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.section.no-pad {
  padding: 0 !important;
}

.section.no-pad-bot {
  padding-bottom: 0 !important;
}

.section.no-pad-top {
  padding-top: 0 !important;
}
.row {
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 20px !important;
}

.row:after {
  content: "" !important;
  display: table !important;
  clear: both !important;
}

.row .col {
  float: left !important;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  padding: 0 0.75rem !important;
  min-height: 1px !important;
}

.row .col[class*="push-"], .row .col[class*="pull-"] {
  position: relative !important;
}

.row .col.s1 {
  width: 8.3333333333% !important;
  margin-left: auto !important;
  left: auto !important;
  right: auto !important;
}

.row .col.s2 {
  width: 16.6666666667% !important;
  margin-left: auto !important;
  left: auto !important;
  right: auto !important;
}

.row .col.s3 {
  width: 25% !important;
  margin-left: auto !important;
  left: auto !important;
  right: auto !important;
}

.row .col.s4 {
  width: 33.3333333333% !important;
  margin-left: auto !important;
  left: auto !important;
  right: auto !important;
}

.row .col.s5 {
  width: 41.6666666667% !important;
  margin-left: auto !important;
  left: auto !important;
  right: auto !important;
}

.row .col.s6 {
  width: 50% !important;
  margin-left: auto !important;
  left: auto !important;
  right: auto !important;
}

.row .col.s7 {
  width: 58.3333333333% !important;
  margin-left: auto !important;
  left: auto !important;
  right: auto !important;
}

.row .col.s8 {
  width: 66.6666666667% !important;
  margin-left: auto !important;
  left: auto !important;
  right: auto !important;
}

.row .col.s9 {
  width: 75% !important;
  margin-left: auto !important;
  left: auto !important;
  right: auto !important;
}

.row .col.s10 {
  width: 83.3333333333% !important;
  margin-left: auto !important;
  left: auto !important;
  right: auto !important;
}

.row .col.s11 {
  width: 91.6666666667% !important;
  margin-left: auto !important;
  left: auto !important;
  right: auto !important;
}

.row .col.s12 {
  width: 100% !important;
  margin-left: auto !important;
  left: auto !important;
  right: auto !important;
    height: 80px;
}

.row .col.offset-s1 {
  margin-left: 8.3333333333% !important;
}

.row .col.pull-s1 {
  right: 8.3333333333% !important;
}

.row .col.push-s1 {
  left: 8.3333333333% !important;
}

.row .col.offset-s2 {
  margin-left: 16.6666666667% !important;
}

.row .col.pull-s2 {
  right: 16.6666666667% !important;
}

.row .col.push-s2 {
  left: 16.6666666667% !important;
}

.row .col.offset-s3 {
  margin-left: 25% !important;
}

.row .col.pull-s3 {
  right: 25% !important;
}

.row .col.push-s3 {
  left: 25% !important;
}

.row .col.offset-s4 {
  margin-left: 33.3333333333% !important;
}

.row .col.pull-s4 {
  right: 33.3333333333% !important;
}

.row .col.push-s4 {
  left: 33.3333333333% !important;
}

.row .col.offset-s5 {
  margin-left: 41.6666666667% !important;
}

.row .col.pull-s5 {
  right: 41.6666666667% !important;
}

.row .col.push-s5 {
  left: 41.6666666667% !important;
}

.row .col.offset-s6 {
  margin-left: 50% !important;
}

.row .col.pull-s6 {
  right: 50% !important;
}

.row .col.push-s6 {
  left: 50% !important;
}

.row .col.offset-s7 {
  margin-left: 58.3333333333% !important;
}

.row .col.pull-s7 {
  right: 58.3333333333% !important;
}

.row .col.push-s7 {
  left: 58.3333333333% !important;
}

.row .col.offset-s8 {
  margin-left: 66.6666666667% !important;
}

.row .col.pull-s8 {
  right: 66.6666666667% !important;
}

.row .col.push-s8 {
  left: 66.6666666667% !important;
}

.row .col.offset-s9 {
  margin-left: 75% !important;
}

.row .col.pull-s9 {
  right: 75% !important;
}

.row .col.push-s9 {
  left: 75% !important;
}

.row .col.offset-s10 {
  margin-left: 83.3333333333% !important;
}

.row .col.pull-s10 {
  right: 83.3333333333% !important;
}

.row .col.push-s10 {
  left: 83.3333333333% !important;
}

.row .col.offset-s11 {
  margin-left: 91.6666666667% !important;
}

.row .col.pull-s11 {
  right: 91.6666666667% !important;
}

.row .col.push-s11 {
  left: 91.6666666667% !important;
}

.row .col.offset-s12 {
  margin-left: 100% !important;
}

.row .col.pull-s12 {
  right: 100% !important;
}

.row .col.push-s12 {
  left: 100% !important;
}
    }
