@media all {
    

html {
  font-family: sans-serif !important;
  /* 1 */
  -ms-text-size-adjust: 100% !important;
  /* 2 */
  -webkit-text-size-adjust: 100% !important;
  /* 2 */
}
body {
  margin: 0 !important;
}
b,
strong {
  font-weight: bold !important;
}
img {
  border: 0 !important;
}

img.responsive-img,
video.responsive-video {
  max-width: 100% !important;
  height: auto !important;
}
}

