@media all {
    .margin {
        padding-left: .5rem !important;
        padding-right: .5rem !important;
        padding-top: .5rem !important;
        padding-bottom: .5rem !important;
        border: 1px solid #ccc!important;
        border-radius: 15px !important;
    }

    .sem-margin {
        margin-top: -1rem !important;
        margin-bottom: -1rem !important;
    }

    img {
        margin-top: .5rem !important;
        width: 17% !important;
    }
    .bordered-full {
        border-top: 1px solid #ccc!important;
        border-left: 1px solid #ccc!important;
        border-bottom: 1px solid #ccc!important;
        border-right: 1px solid #ccc!important;
    }
    .bordered>div {
         border-top: 1px solid #ccc!important;
         border-left: 1px solid #ccc!important;
    }
    .bordered-right {
         border-right: 1px solid #ccc!important;
    }
     .bordered-last {
         border-bottom: 1px solid #ccc!important;
    }
}