@media all {
html {
    font-size: 14.5px !important;
}
table {
    width: 100% !important;
    display: table !important;
}
.hide {
    display: none !important;
}
table, th, td {
    border: none !important;
}
tbody {
    display: table-row-group !important;
    vertical-align: middle !important;
    border-color: inherit !important;
}
html {
    line-height: 1.5 !important;
    font-family: "Roboto", sans-serif !important;
    font-weight: normal !important;
    color: rgba(0,0,0,0.87) !important;
}
table.bordered > thead > tr, table.bordered > tbody > tr {
    border-bottom: 1px solid #d0d0d0 !important;
	
	tr {
    display: table-row !important;
    vertical-align: inherit !important;
    border-color: inherit !important;
}
    }
table {
    border-collapse: collapse !important;
    border-spacing: 0 !important;
}
td, th {
    padding: 15px 5px !important;
    display: table-cell !important;
    text-align: left !important;
    vertical-align: middle !important;
    border-radius: 2px !important;
    border-right: 1px solid #d0d0d0 !important;
    border-left: 1px solid #d0d0d0 !important;
	}
}