/* CSS Document */


/*
    Last Update on : 13/01/2017
    Author     : Andreas Lautenschlager
    Theme Name : Elsa
    Description: Elsa, a multipurpose Template
    Version    : 1.0.0

*/


/* Colors

Primary:                                #280B0B
Primary Shade:                              #42A100
Text:                                   #7a7c82
Grey:                                   #eee
Dark Grey:                              #333
Primary Footer                          #222
Secondary Footer:                       #111

*/


/* ------------------------------------------ */


/*             TABLE OF CONTENT
/* ------------------------------------------ */


/* 01 - General Styles & Typography
/* ------------------------------------------ */


/* 02 - (Bootstrap) Components
/* ------------------------------------------ */


/* 03 - General Section Stylings
/* ------------------------------------------ */


/* 04 - Header, Navigation, Logo
/* ------------------------------------------ */


/* 05 - Headers
/* ------------------------------------------ */


/* 06 - Page Layouts
/* ------------------------------------------ */


/* 07 - Page Title & Breadcrumps
/*------------------------------------------- */


/* 08 - Sections
/* 08_00 - Section Alternate
/* 08_01 - Call to Action
/* 08_02 - Intro
/* 08_03 - Feature
/* 08_04 - Feature-Box
/* 08_05 - Team
/* 08_06 - Spotlight
/* 08_07 - Pricing Tables
/* 08_08 - Testmonials
/* 08_09 - Client Logos
/* 08_10 - Blog
/* 08_11 - Highlighted Testmonial
/* 08_12 - Contact
/* 08_13 - Footer Primary
/* 08_14 - Footer Secondary
/* 08_15 - Video
/*------------------------------------------- */


/* 09 - Functions / Extensions
/* 09_01 - Hover Effect
/* 09_02 - Portfolio/Gallery
/* 09_03 - Owl Carousel
/*------------------------------------------- */


/*          END TABLE OF CONTENT
/* ------------------------------------------ */


/* 01 - General Styles & Typography
/* ------------------------------------------ */

body,
html {
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    color: #7a7c82;
    margin-top: 25px;
}

@media (min-width: 768px) {
    body {
        margin-top: 65px;
    }
}


/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oxygen', sans-serif;
    margin-top: 0px;
    font-weight: 600;
}

h1,
h2 {
    color: #83DC48;
}

h3,
h4,
h5,
h6 {
    color: #333;
}

h1 {
    font-size: 24px;
    line-height: 55px;
}

h2 {
    font-size: 22px;
    line-height: 40px;
}

h3 {
    font-size: 20px;
    line-height: 20px;
}

h4 {
    font-size: 17px;
    line-height: 14px;
}

h5 {
    font-size: 16px;
    line-height: 12px;
}

h6 {
    font-size: 14px;
    line-height: 10px;
}

p {
    font-size: 14px;
    line-height: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #7a7c82;
    font-weight: 400;
    margin-bottom: 15px;
}

blockquote {
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    color: #7a7c82;
}

span {
    color: #83DC48;
}

a {
    color: #83DC48;
}

a:hover,
a:focus {
    color:     #42A100;
    text-decoration: none;
    outline: none
}


/* Titles */

.title-section {
    font-size: 42px;
}

.title-regular {
    font-weight: 500;
    color: #333;
}

.title-underline {
    height: 3px;
    width: 70px;
    background-color: #83DC48;
    margin-top: 5px;
    margin-bottom: 30px;
    margin-left: 0px;
}

.title-underline-center {
    height: 3px;
    width: 70px;
    background-color: #83DC48;
    margin-top: 5px;
    margin-bottom: 30px;
}

.title-light {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}


/* Alternate Text-Styles */

.text-center {
    text-align: center;
}

.text-white {
    color: #fff;
}


/* 02 -  (Bootstrap) Components
/* ------------------------------------------ */


/* Icons */

.box-icon {
    color: #83DC48;
    position: relative;
    line-height: 0px;
    font-size: 36px;
}

.box-icon-absolute {
    position: absolute;
    top: 0;
    left: 0;
}

.social-icon {
    font-size: 24px;
    padding: 0 4px;
}


/* Buttons */

.btn-primary {
    background-color: #83DC48;

    border-color:     #42A100;
    color: #FFF;
    outline: none;
}

.btn-primary:focus,
.btn-primary.focus {
    color: #fff;
    background-color:     #42A100;
    border-color: #83DC48;
    cursor: pointer;
    outline: none;
}

.btn-primary:hover {
    color: #fff;
    background-color:     #42A100;
    border-color: #83DC48;
    outline: none;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color:     #42A100;
    border-color: #83DC48;
    outline: none;
}

.btn-primary:active:hover,
.btn-primary.active:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.btn-primary:active.focus,
.btn-primary.active.focus {
    color: #fff;
    background-color:     #42A100;
    border-color: #83DC48;
    outline: none;
}

.btn-default {
    background-color: #83DC48;
    border-color:     #42A100;
    color: #FFF;
    outline: none;
}

.btn-default:focus,
.btn-default.focus {
    color: #fff;
    background-color:     #42A100;
    border-color: #83DC48;
    cursor: pointer;
    outline: none;
}

.btn-default:hover {
    color: #fff;
    background-color:     #42A100;
    border-color: #83DC48;
    outline: none;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    color: #fff;
    background-color:     #42A100;
    border-color: #83DC48;
    outline: none;
}

.btn-default:active:hover,
.btn-default.active:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.btn-default:active.focus,
.btn-default.active.focus {
    color: #fff;
    background-color:     #42A100;
    border-color: #83DC48;
    outline: none;
}

.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group {
    padding: 3px 5px;
}

.btn-link {
    color: #83DC48;
}


/* Forms */

.form-control {
    width: 100%;
    padding: 6px 12px;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #7a7c82;
    background-color: #eee;
    font-size: 14px;
}

.form-control:focus {
    -webkit-box-shadow: 0px 0px 0px;
    -moz-box-shadow: 0px 0px 0px;
    border: none;
    outline: none;
}


/* Progressbar */

.progress-bar {
    background-color: #83DC48;
    line-height: 15px;
}

.progress {
    height: 15px;
}

.progress-completed {
    margin-left: 10px;
    color: #7a7c82;
}

.progress-skillbar-title {
    color: #7a7c82;
}


/* Nav Tabs */

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    background-color: #83DC48;
    color: #fff;
}

.tabs .nav-tabs li.active a {
    color: #fff;
}

.tab-pane {
    padding: 15px 0;
}


/* Pagination */

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #83DC48;
    border-color: #83DC48;
}

.pagination > li > a,
.pagination > li > span {
    color: #7a7c82;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #83DC48;
}


/* Labels */

.label-primary {
    background-color: #83DC48;
}


/* Badges */

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    background-color: #83DC48;
}

.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
    color: #83DC48;
}


/* List groups */

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
    background-color: #83DC48;
    border-color: #83DC48;
}

.list-group-item.active .list-group-item-text,
.list-group-item.active:hover .list-group-item-text,
.list-group-item.active:focus .list-group-item-text {
    color: #fff;
}


/* Panels */

.panel-primary > .panel-heading {
    background-color: #83DC48;
    border-color: #83DC48;
}

.panel-primary {
    border-color: #83DC48;
}


/* 03 - General Section Stylings
/* ------------------------------------------ */

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.img-responsive {
    width: 100%;
    height: auto;
}

.divider {
    margin: 0;
    border-top: 1px solid #eee;
}

.page-section {
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    padding: 130px 0;
}

.section-grey {
    background-color: #eee;
    -webkit-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.07);
    box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.07);
}

.page-section-no-padding {
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
}

.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
}

.padding-0 {
    padding: 0;
}

.margin-0 {
    margin: 0;
}


/* Generalized Margins for your needs */

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-bottom-25 {
    margin-bottom: 25px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-bottom-35 {
    margin-bottom: 35px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.margin-bottom-60 {
    margin-bottom: 60px;
}

.margin-bottom-82 {
    margin-bottom: 82px;
}

.margin-bottom-130 {
    margin-bottom: 130px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-25 {
    margin-top: 25px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-35 {
    margin-top: 35px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-top-45 {
    margin-top: 45px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-top-60 {
    margin-top: 60px;
}

.margin-top-70 {
    margin-top: 70px;
}

.margin-top-100 {
    margin-top: 100px;
}

.margin-top-130 {
    margin-top: 130px;
}

.margin-top-182 {
    margin-top: 182px;
}


/* Generalized Paddings for smaller Sections */

.padding-30 {
    padding: 30px 0;
}

.padding-60 {
    padding: 60px 0;
}

@media (max-width: 991px) {
    .container-fluid,
    .row {
        margin: 0;
        padding: 0;
    }
}


/* 04 - Navbar-Header, Navigation, Logo
/* ------------------------------------------ */


/* Normalize  Navbar-Header */

.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border: none;
}


/* Logo (change width here) */

.logo {
    max-width: 150px;
    height: auto;
    padding: 6px 0;
}


/* Navbar */

@media(min-width:768px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
        transition: background .5s ease-in-out, padding .5s ease-in-out;
    }
    .top-nav-collapse {
        padding: 0;
    }
}

.navbar-nav {
    margin-top: 0;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: initial;
    color: #83DC48;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #83DC48;
}

.navbar-default .navbar-nav > li > a {
    color: #7a7c82;
    font-size: 16px;
    font-weight: 600;
}

@media (min-width: 768px) {
    .dropdown-menu > li > a {
        color: #7a7c82;
        background-color: initial;
    }
    .dropdown-menu > .active > a,
    .dropdown-menu > .active > a:hover,
    .dropdown-menu > .active > a:focus {
        color: #fff;
        background-color: #83DC48;
    }
    .dropdown-menu > li > a:hover,
    .dropdown-menu > li > a:focus {
        color: #fff;
        background-color: #83DC48;
    }
    .dropdown-menu li a {
        width: 200px;
        padding: 6px 15px;
        font-size: 14px;
        font-weight: 600;
    }
    ul.nav li.dropdown:hover ul.dropdown-menu {
        display: block;
        margin-top: 0px
    }
}

.dropdown-header {
    font-weight: 600;
    padding: 6px 15px;
    font-size: 16px;
    color: #83DC48;
}


/* 05 - Headers
/* ------------------------------------------ */


/* Hero Header */

.hero-header {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: #fff;
}

.hero-header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}

.hero-header .intro-text .intro-lead-in {
    font-style: italic;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 25px;
}

.hero-header .intro-text .intro-heading {
    font-weight: bold;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 25px;
}

.hero-header .video-holder {
    margin: 25px 0;
}

.hero-header video {
    max-width: 700px;
    width: 100%;
}

@media (min-width: 768px) {
    .hero-header .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
    }
    .hero-header .intro-text .intro-lead-in {
        font-style: italic;
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 25px;
    }
    .hero-header .intro-text .intro-heading {
        font-weight: 700;
        font-size: 75px;
        line-height: 75px;
        margin-bottom: 50px;
    }
}


/* Product Header */

.product-header {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: #fff;
}

.product-header .header-content {
    text-align: center;
    padding: 150px 0 50px;
    position: relative;
}

.product-header .header-content .header-content-inner {
    position: relative;
    max-width: 500px;
    margin: 0 auto;
}

.product-header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 30px;
    color: #fff;
}

.product-header .header-content .header-content-inner p {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 16px;
    color: #fff;
}

.product-header img {
    padding: 50px 0;
}

@media (min-width: 768px) {
    .product-header {
        min-height: 100%;
    }
    .product-header .header-content {
        text-align: left;
        padding: 0;
        height: 100vh;
    }
    .product-header .header-content .header-content-inner {
        max-width: none;
        margin: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .product-header .header-content .header-content-inner h1 {
        font-size: 35px;
    }
}

@media (min-width: 992px) {
    .product-header .header-content .header-content-inner h1 {
        font-size: 50px;
    }
}


/* Carousel Header */

.carousel-caption h3 {
    color: #fff;
}

.carousel-caption p {
    color: #fff;
}


/* 06 - Page Layouts
/* ------------------------------------------ */

.sidebar-header {
    color: #83DC48;
}

.sidebar .nav > li > a {
    color: #333;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    display: block;
    text-decoration: none;
    line-height: 20px;
}

.sidebar .caret-right {
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid;
    display: inline-block;
    height: 0;
    vertical-align: middle;
    width: 0;
    margin-right: 5px;
}

.sidebar .widget {
    margin: 0 0 20px 0;
}


/* 07 - Page Title & Breadcrumps
-------------------------------------------------- */

. .form-inline {
    display: inline;
}

@media (max-width: 500px) {
    .form-inline {
        font-size: 12px;
    }
    .texto-mobile {
        padding: 0px 15px!important;
    }

}


/* Page Header */

.page-header {
    background-color: #333;
    border-bottom: 5px solid #ccc;
    margin: 0 0 35px 0;
    min-height: 50px;
    padding: 20px 0;
    position: relative;
    text-align: left;
}

.page-header .breadcrumb {
    background: none;
    margin: -3px 0 0;
    padding: 0;
}

.page-header h1 {
    border-bottom: 5px solid #83DC48;
    color: #FFF;
    display: inline-block;
    font-weight: 600;
    margin: 0 0 -25px;
    font-size: 36px;
    padding: 0 0 17px;
}

.page-header li {
    color: #fff;
}


/* Page Header Picture */

.page-header-picture {
    background: #333;
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
}

.page-header-picture-content {
    background: rgba(0, 0, 0, 0.2);
    padding: 150px 0;
}

.page-header-picture-content h2 {
    font-size: 46px;
    color: #fff;
}

.page-header-picture-content p {
    color: #fff;
    margin: 0;
}


/* 08 - Sections
-------------------------------------------------- */


/* 08_00 - Section Alternate
-------------------------------------------------- */

.sec-alternative {
    background: #333;
}

.sec-alternative span.title-regular {
    color: #fff;
}

.sec-alternative p {
    color: #fff;
}

.sec-alternative h1,
.sec-alternative h2,
.sec-alternative h3,
.sec-alternative h4,
.sec-alternative h5,
.sec-alternative h6 {
    color: #fff;
}

.sec-alternative .title-underline {
    background-color: #fff;
}

.sec-alternative .box-icon {
    color: #eee;
    line-height: 0px;
    font-size: 36px;
}


/* 08_01 - Call to Action
-------------------------------------------------- */

.cta {
    padding: 20px 15px;
}

.cta p,
.cta h2 {
    margin: 0 0 15px 0;
    text-align: center;
}

.cta h2 {
    color: #fff;
    font-size: 36px;
    font-weight: 400;
}

.cta h2 span {
    color: #fff;
    font-weight: bold;
}

.cta-button {
    margin: 5px 0;
    text-align: center;
}

.cta-button a {
    margin-right: 15px;
}

.cta-primary {
    background-color: #83DC48;
}

.cta-primary p {
    color: #fff;
}

.cta-primary .btn-primary {
    background-color: #fff;
    border-color:     #42A100;
    color: #83DC48;
    outline: none;
}

.cta-primary .btn-primary:focus,
.cta-primary .btn-primary.focus {
    color: #fff;
    background-color:     #42A100;
    border-color: #83DC48;
    cursor: pointer;
    outline: none;
}

.cta-primary .btn-primary:hover {
    color: #fff;
    background-color:     #42A100;
    border-color: #83DC48;
    outline: none;
}

.cta-primary .btn-primary:active,
.cta-primary .btn-primary.activey {
    color: #fff;
    background-color:     #42A100;
    border-color: #83DC48;
    outline: none;
}

.cta-primary .btn-primary:active:hover,
.cta-primary .btn-primary.active:hover,
.cta-primary .btn-primary:active:focus,
.cta-primary .btn-primary.active:focus,
.cta-primary .btn-primary:active.focus,
.btn-primary.active.focus {
    color: #fff;
    background-color:     #42A100;
    border-color: #83DC48;
    outline: none;
}

@media (min-width: 992px) {
    .cta p,
    .cta h2 {
        text-align: left;
        margin: 0;
    }
    .cta-button {
        text-align: right
    }
}


/* 08_02 - Intro
-------------------------------------------------- */

.intro .fa {
    display: block;
    font-size: 42px;
    color: #83DC48;
}

.intro label {
    font-size: 18px;
    margin: 0;
}

.intro label strong {
    font-size: 52px;
}


/* 08_03 - Feature
-------------------------------------------------- */

.feature .fa {
    display: block;
    font-size: 64px;
    color: #83DC48;
    margin-bottom: 14px;
}


/* 08_04 - Feature-Box
-------------------------------------------------- */

.feature-box {
    padding: 15px 0;
}

.feature-box h4 {
    margin: 0;
}

.feature-box .feature-box-icon {
    background: #83DC48;
    border-radius: 35px;
    color: #FFF;
    display: inline-block;
    float: left;
    height: 35px;
    line-height: 35px;
    margin-right: 10px;
    position: relative;
    text-align: center;
    width: 35px;
}


/* 08_05 - Team
-------------------------------------------------- */


/* Normal Team Listing */

.team-member h2 {
    margin: 0;
}

.team-member h3 {
    font-weight: 400;
}

.team-member .col-md-4 {
    margin: 50px 0;
}


/* Team Creative */

.team-content {
    padding: 50px 10px;
}

.team-content i {
    padding: 0 10px;
    font-size: 30px;
}


/* 08_06 - Spotlight
-------------------------------------------------- */

.spotlight-img-cont {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 450px;
    padding: 30px 0;
}

.spotlight-container {
    padding: 30px 0;
}

@media (min-width: 992px) {
    .spotlight-container {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .spotlight-img-cont {
        margin: 0;
    }
}


/* 08_07 - Pricing Tables
-------------------------------------------------- */

.product {
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    color: #fff;
    line-height: 30px;
    background-color: #333;
}

.product ul {
    list-style: none;
    margin: 0;
    text-align: center;
    padding-left: 0px;
}

.product ul li {
    padding: 10px 0;
}

.product ul li i {
    margin-right: 5px;
}

.product .price {
    padding: 40px 10px 20px 10px;
    font-size: 64px;
    font-weight: 600;
}

.product .price small {
    display: block;
    font-size: 12px;
    margin-top: 10px;
}

.product .type {
    background-color: #83DC48;
    padding: 20px 20px;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 30px;
}

.popular .type {
    background-color: #333;
}

.product .pricing-footer {
    padding: 20px;
}

.popular .pricing-footer .btn-primary {
    background-color: #fff;
    border-color:     #42A100;
    color: #83DC48;
    outline: none;
}

.popular .pricing-footer .btn-primary:focus,
.popular .pricing-footer .btn-primary.focus {
    color: #fff;
    background-color:     #42A100;
    border-color: #83DC48;
    cursor: pointer;
    outline: none;
}

.popular .pricing-footer .btn-primary:hover {
    color: #fff;
    background-color:     #42A100;
    border-color: #83DC48;
    outline: none;
}

.popular .pricing-footer .btn-primary:active,
.popular .pricing-footer .btn-primary.activey {
    color: #fff;
    background-color:     #42A100;
    border-color: #83DC48;
    outline: none;
}

.popular .pricing-footer .btn-primary:active:hover,
.popular .pricing-footer .btn-primary.active:hover,
.popular .pricing-footer .btn-primary:active:focus,
.popular .pricing-footer .btn-primary.active:focus,
.popular .pricing-footer .btn-primary:active.focus,
.popular .pricing-footer .btn-primary.active.focus {
    color: #fff;
    background-color:     #42A100;
    border-color: #83DC48;
    outline: none;
}

.pricing-table > .col-lg-4,
.pricing-table > .col-lg-3,
.pricing-table > .col-md-4,
.pricing-table > .col-md-3,
.pricing-table > .col-sm-4,
.pricing-table > .col-sm-3 {
    padding-left: 0;
    padding-right: 0;
}

@media (max-width: 768px) {
    .pricing-table > .col-lg-4,
    .pricing-table > .col-lg-3,
    .pricing-table > .col-md-4,
    .pricing-table > .col-md-3,
    .pricing-table > .col-sm-4,
    .pricing-table > .col-sm-3 {
        padding-left: 0;
        padding-right: 0;
        margin: 20px 0;
    }
}

.product.popular {
    margin-top: -20px;
    background-color: #83DC48;
}


/* 08_08 - Testmonials
-------------------------------------------------- */

.testmonial {
    padding: 50px;
}

.testmonial img {
    padding: 25px;
}

.testmonials p {
    font-style: italic;
}

.blockquote-footer {
    background-color: initial;
    padding: 0;
}


/* 08_09 - Client Logos
-------------------------------------------------- */

.client-logo {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.client-logo:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}


/* 08_10 - Blog
-------------------------------------------------- */


/* Blog Listing */

.blog-listing article {
    margin-bottom: 50px;
}

.blog-listing h2 {
    margin-bottom: 0;
}

.blog-listing .img-thumbnail {
    margin-bottom: 15px;
}

.blog-listing .title-underline {
    margin-top: 5px;
    margin-bottom: 5px;
}

.post-meta {
    font-size: 14px;
    margin: 0 0 15px 0;
}

.post-meta span {
    margin-right: 5px;
}


/* Blog Sidebar-Widget */

ul.post-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.post-list li {
    border-bottom: 1px dotted #ccc;
    padding: 15px 0;
}

ul.post-list .post-image {
    float: left;
    margin-right: 12px;
}

ul.post-list .post-info {
    line-height: 18px;
    padding: 12px 0;
}

ul.post-list .post-meta {
    color: #eee;
    font-size: 0.8em;
}


/* Blog Tag-Widget */

.tags a {
    display: inline-block;
    margin: 0 2px 5px 0;
    padding: 3px 10px;
    border: 1px solid #333;
    color: #333;
    letter-spacing: 1px;
}

.tags a:hover {
    background: #333;
    color: #fff;
    border: 1px solid #eee;
}


/* Single Post */

.post-block {
    border-top: 1px solid #eee;
    margin: 15px 0 0 0;
    padding: 20px 0 15px 0;
}

.post-block ul {
    padding: 0;
}

.post-block h3 {
    font-weight: 200;
    margin: 20px 0;
}

.post-block h3 i {
    margin-right: 7px;
}


/* Author Block */

.post-author .img-thumbnail {
    display: inline-block;
    max-width: 150px;
    margin-right: 15px;
}

.post-author p {
    font-size: 0.9em;
    line-height: 22px;
    margin: 0;
    padding: 0;
}


/* Comment Block */

ul.comments li {
    clear: both;
    padding: 30px 0 0 115px;
    list-style: none;
}

ul.comments li img.avatar {
    height: 80px;
    width: 80px;
}

ul.comments li .img-thumbnail {
    margin-left: -115px;
    position: absolute;
}

ul.comments .comment-block {
    background: #eee;
    padding: 20px 20px 30px 20px;
    position: relative;
}

ul.comments .comment-block .comment-by {
    display: block;
    margin: 0;
    padding: 0 0 5px 0;
}

@media (max-width: 479px) {
    ul.comments li {
        clear: both;
        padding: 0 0 0 10px;
    }
    ul.comments li .img-thumbnail {
        display: none;
    }
    ul.comments .comment-block {
        margin: 15px 0;
    }
}


/* 08_11 - Highlighted Testmonial
-------------------------------------------------- */

.testmonial-container {
    background-position: center top;
    background-size: 100% auto;
}

.testmonial-content {
    background: rgba(0, 0, 0, 0.5);
    padding: 50px 0;
}

.testmonial-content p {
    color: #fff;
}


/* 08_12 - Contact
-------------------------------------------------- */

#map {
    height: 742px;
}

.map-page-header #map {
    height: 400px;
}

.contact-container {
    padding: 100px 30px;
}


/* 08_13 - Footer Primary
-------------------------------------------------- */

footer {
    background-color: #222;
    padding-top: 60px;
    padding-bottom: 0px;
}

footer p {
    color: #fff;
}

footer a {
    color: #fff;
}

footer ul {
    padding: 0;
}

.footer-logo {
    width: 70px;
    margin-bottom: 30px;
}

.footer-menu h4 {
    color: #fff;
    margin-bottom: 30px;
}

.footer-menu ul li {
    list-style: none;
    padding: 0 0 10px 0;
}

footer a:visited,
footer a:link,
footer a:active,
footer a:hover {
    text-decoration: none;
}

.footer-blog h4 {
    color: #fff;
    margin-bottom: 30px;
}

.footer-blog ul li {
    list-style: none;
    padding: 0 0 10px 0;
}

.footer-blog ul li a:visited,
.footer-blog ul li a:link,
.footer-blog ul li a:active,
.footer-blog ul li a:hover {
    text-decoration: none;
}

footer .col-md-3 {
    margin-bottom: 35px;
}


/* 08_14 - Footer Secondary
-------------------------------------------------- */

.footer2-container {
    background-color: #111;
    width: 100%;
    background-position: center top;
    background-size: 100% auto;
    padding: 20px 0;
    margin: 0;
}


/* 08_15 - Video
-------------------------------------------------- */

.video-container {
    background: #333 fixed;
    background-position: center top;
    background-size: 100% auto;
    text-align: center;
    text-decoration: none;
}

.video-content {
    background: rgba(0, 0, 0, 0.5);
    padding-top: 50px;
    padding-bottom: 50px;
    color: #fff;
    font-size: 36px;
}

.vide-icon {
    font-style: none;
    color: #eee;
    text-decoration: none;
    font-size: 36px;
}

.vide-icon:hover,
.vide-icon:visited,
.vide-icon:link,
.vide-icon:active {
    text-decoration: none;
}


/* 09 - Functions
-------------------------------------------------- */


/* 09_01 - Hover Effect
-------------------------------------------------- */

.hovereffect {
    overflow: hidden;
}

.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.hovereffect .info {
    transition: all 0.3s ease-in;
    opacity: 0;
    filter: alpha(opacity=0);
    color: #fff;
}

.hovereffect:hover .info {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.hovereffect:hover img {
    -webkit-filter: brightness(50%);
    filter: brightness(50%);
}


/* 09_02 - Portfolio / Gallery
-------------------------------------------------- */

.portfolio-section {
    padding-bottom: 40px;
}


/* Category Filter */

.filter-section {
    padding-top: 40px;
}

.filter-container {
    text-align: center;
    padding: 20px;
}

ul.filter > li > a {
    color: #7a7c82;
    font-size: 20px;
    line-height: 40px;
}

ul.filter > li > a:hover,
ul.filter > li > a:focus {
    text-decoration: none;
    color:     #42A100;
    outline: none
}

ul.filter > li.active a {
    color: #83DC48;
}

ul.filter > li span {
    color: #7a7c82;
    font-size: 20px;
    display: inline-block;
    margin: 0 5px;
}

.filter-section .filter-container .filter > li {
    padding: 0;
    margin: 0;
}

.filter-section h1 {
    text-align: center;
}

.portfolio-section.port-col figure .overlay-background {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.4);
}


/* Portfolio Images */

.portfolio-section figure {
    float: left;
    width: 100%;
    position: relative;
}

.portfolio-section figure img {
    width: 100%;
    height: auto;
}


/* Project Title */

.portfolio-section .article-title {
    text-align: center;
    float: left;
    width: 100%;
    font-size: 18px;
    line-height: 24px;
    padding: 10px 0 30px 0;
}


/* Transparent Overlay */

.portfolio-section figure:hover .overlay {
    opacity: 1;
    visibility: visible;
}

.portfolio-section figure:hover .overlay-background {
    opacity: .8;
    visibility: visible;
}

.portfolio-section figure .overlay-background {
    z-index: 1;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
}

.portfolio-section figure .overlay-background .inner {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: 0px;
    background-color: #c8e9c8;
    background-color: rgba(0, 0, 0, 0.8);
}

.portfolio-section figure .overlay {
    z-index: 2;
    transition: all .2s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
}

.portfolio-section figure .inner-overlay {
    display: table;
    width: 100%;
    height: 100%;
}

.portfolio-section figure .inner-overlay-content {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    padding: 20px 40px;
}

.portfolio-section figure .inner-overlay-content.with-icons {
    text-align: center;
}


/* Icons */

.portfolio-section figure .inner-overlay-content.with-icons a {
    width: 40px;
    height: 40px;
    line-height: 42px;
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    font-size: 20px;
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    border-radius: 0;
}


/* skew image on hover */

.isotopeSelector {
    padding-bottom: 30px;
}

.project-content {
    padding: 20px;
}

.isotopeSelector img {
    -webkit-transition: all .0s ease;
    -moz-transition: all .0s ease;
    -ms-transition: all .0s ease;
    -o-transition: all .0s ease;
    transition: all .0s ease;
}

.isotopeSelector:hover img {
    -moz-transform: scale(1.0) rotate(0deg);
    -webkit-transform: scale(1.0) rotate(0deg);
    -o-transform: scale(1.0) rotate(0deg);
    -ms-transform: scale(1.0) rotate(0deg);
    transform: scale(1.0) rotate(0deg);
    -webkit-transition: all .0s ease;
    -moz-transition: all .0s ease;
    -ms-transition: all .0s ease;
    -o-transition: all .0s ease;
    transition: all .0s ease;
}

.isotopeSelector figure {
    overflow: hidden;
}

.isotopeSelector figure {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.portfolio-section .info-head {
    margin-bottom: 10px;
}

.portfolio-section .info-head h3 {
    font-size: 26px;
    line-height: 20px;
    color: #83DC48;
}

.portfolio-section .info-head h4 {
    color: #fff;
}

.portfolio-section .info p,
.portfolio-section .info a {
    color: #fff;
}


/* ---- Gallery Masonry  Grid ---- */

.grid:after {
    content: '';
    display: block;
    clear: both;
}

.grid-sizer,
.grid-item {
    width: 33.333%;
}

.grid-item {
    float: left;
}

.grid-item img {
    display: block;
    max-width: 100%;
}

.isotpe-gallery {
    padding: 0;
}


/* Portfolio Singe Item */

.portfolio-details {
    font-size: 12px;
}

.portfolio-gallery {
    margin-top: 30px;
    margin-bottom: 30px;
}


/* 09_03 - Fancybox / Lightbox
-------------------------------------------------- */


/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */

.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    vertical-align: top;
}

.fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8020;
}

.fancybox-skin {
    position: relative;
    background: #f9f9f9;
    color: #444;
    text-shadow: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.fancybox-opened {
    z-index: 8030;
}

.fancybox-opened .fancybox-skin {
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer,
.fancybox-inner {
    position: relative;
}

.fancybox-inner {
    overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
    -webkit-overflow-scrolling: touch;
}

.fancybox-error {
    color: #444;
    margin: 0;
    padding: 15px;
    white-space: nowrap;
}

.fancybox-image,
.fancybox-iframe {
    display: block;
    width: 100%;
    height: 100%;
}

.fancybox-image {
    max-width: 100%;
    max-height: 100%;
}

#fancybox-loading,
.fancybox-close,
.fancybox-prev span,
.fancybox-next span {
    background-image: url('../img/fancybox/fancybox_sprite.png');
}

#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
    background-position: 0 -108px;
    opacity: 0.8;
    cursor: pointer;
    z-index: 8060;
}

#fancybox-loading div {
    width: 44px;
    height: 44px;
    background: url('../img/fancybox/fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
    position: absolute;
    top: -18px;
    right: -18px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 8040;
}

.fancybox-nav {
    position: absolute;
    top: 0;
    width: 40%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    background: transparent url('../img/fancybox/blank.gif');
    /* helps IE */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    z-index: 8040;
}

.fancybox-prev {
    left: 0;
}

.fancybox-next {
    right: 0;
}

.fancybox-nav span {
    position: absolute;
    top: 50%;
    width: 36px;
    height: 34px;
    margin-top: -18px;
    cursor: pointer;
    z-index: 8040;
    visibility: hidden;
}

.fancybox-prev span {
    left: 10px;
    background-position: 0 -36px;
}

.fancybox-next span {
    right: 10px;
    background-position: 0 -72px;
}

.fancybox-nav:hover span {
    visibility: visible;
}

.fancybox-tmp {
    position: absolute;
    top: -99999px;
    left: -99999px;
    visibility: hidden;
    max-width: 99999px;
    max-height: 99999px;
    overflow: visible !important;
}


/* Overlay Helper */

.fancybox-lock {
    overflow: hidden !important;
    width: auto;
}

.fancybox-lock body {
    overflow: hidden !important;
}

.fancybox-lock-test {
    overflow-y: hidden !important;
}

.fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    z-index: 8010;
    background: url('../img/fancybox/fancybox_overlay.png');
}

.fancybox-overlay-fixed {
    position: fixed;
    bottom: 0;
    right: 0;
}

.fancybox-lock .fancybox-overlay {
    overflow: auto;
    overflow-y: scroll;
}


/* Title Helper */

.fancybox-title {
    visibility: hidden;
    position: relative;
    text-shadow: none;
    z-index: 8050;
}

.fancybox-opened .fancybox-title {
    visibility: visible;
}

.fancybox-title-float-wrap {
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-bottom: -35px;
    z-index: 8050;
    text-align: center;
}

.fancybox-title-float-wrap .child {
    display: inline-block;
    margin-right: -100%;
    padding: 2px 20px;
    background: transparent;
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-shadow: 0 1px 2px #222;
    color: #FFF;
    font-weight: bold;
    line-height: 24px;
    white-space: nowrap;
}

.fancybox-title-outside-wrap {
    position: relative;
    margin-top: 10px;
    color: #fff;
}

.fancybox-title-inside-wrap {
    padding-top: 10px;
}

.fancybox-title-over-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    background: #000;
    background: rgba(0, 0, 0, .8);
}

html.fancybox-lock {
    overflow: visible !important;
}


/*Retina graphics!*/

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
    #fancybox-loading,
    .fancybox-close,
    .fancybox-prev span,
    .fancybox-next span {
        background-image: url('../img/fancybox/fancybox_sprite@2x.png');
        background-size: 44px 152px;
        /*The size of the normal image, half the size of the hi-res image*/
    }
    #fancybox-loading div {
        background-image: url('../img/fancybox/fancybox_loading@2x.gif');
        background-size: 24px 24px;
        /*The size of the normal image, half the size of the hi-res image*/
    }
}


.imgProduto{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    height: 300px;
}


.productTitle h3{
    color: #333;
    font-size: 40px;
    margin: 40px 0px;
}

.limeGreen{
    color: #83DC48;
}

.iconsBeneficios i{
    color: #83DC48;
    font-size: 40px;
}



.iconsBeneficios p{
    color: #333;
    font-size: 20px;
}


/* 09_04 - Owl Carousel
-------------------------------------------------- */

.owl-theme .owl-nav [class*="owl-"] {
    background: #83DC48!important;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #83DC48!important;
}
