﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="carregarimagem.aspx.vb" Inherits="restrito_carregarimagem" %>

<!DOCTYPE html>


<!--Trabalhando com Bootstrap-->





<meta charset="utf-8" />
<link rel="icon" type="image/png" href="assets/img/favicon.ico">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />



<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
<meta name="viewport" content="width=device-width" />


<!-- Bootstrap core CSS     -->
<link href="../assets/css/bootstrap.min.css" rel="stylesheet" />

<!-- Animation library for notifications   -->
<link href="../assets/css/animate.min.css" rel="stylesheet" />

<!--  Light Bootstrap Table core CSS    -->
<link href="../assets/css/light-bootstrap-dashboard.css" rel="stylesheet" />


<!--  CSS for Demo Purpose, don't include it in your project     -->
<link href="../assets/css/demo.css" rel="stylesheet" />


<!--     Fonts and icons     -->
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
<link href="../assets/css/pe-icon-7-stroke.css" rel="stylesheet" />

<!--   Core JS Files   -->

<script src="../assets/js/jquery-1.10.2.js" type="text/javascript"></script>
<script src="../assets/js/bootstrap.min.js" type="text/javascript"></script>

<!--  Checkbox, Radio & Switch Plugins -->
<script src="../assets/js/bootstrap-checkbox-radio-switch.js"></script>

<!--  Charts Plugin -->
<script src="../assets/js/chartist.min.js"></script>

<!--  Notifications Plugin    -->
<script src="../assets/js/bootstrap-notify.js"></script>

<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
<script src="../assets/js/light-bootstrap-dashboard.js"></script>

<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
<script src="../assets/js/demo.js"></script>
<!--Trabalhando com BootStrap-->

<%-- '' <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>--%>


<%-- <script src="../js/jquery-1.4.1.js"  type="text/javascript"></script>--%>
<%--  <script src="imgprontuario/..js/JScriptmascara.js"  type="text/javascript"></script>--%>
<script src="../js/JScriptmascara.js" type="text/javascript"></script>
<link href="../css/jquery.Jcrop.css" rel="stylesheet" type="text/css" />
<script src="../js/jquery.min.js" type="text/javascript"></script>
<script src="../js/jquery.Jcrop.js" type="text/javascript"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('#<%=imgcrop.ClientID %>').Jcrop({
            onSelect: storeCoords,
            //Set Image Box Height & Width
            boxWidth: 800, boxHeight: 600
        });
    });

    //Function to store coordinates
    function storeCoords(c) {
        jQuery('#<%=hdnX.ClientID %>').val(c.x);
        jQuery('#<%=hdnY.ClientID %>').val(c.y);
        jQuery('#<%=hdnW.ClientID %>').val(c.w);
            jQuery('#<%=hdnH.ClientID %>').val(c.h);
    };

</script>
<script language="javascript" type="text/javascript">
    function fecharmodaldocsparent1(caminho) {
        //$('.fechar').click(function (ev) {

        console.log(caminho);
        window.parent.fecharimagem(caminho)

        //}

    }


    function fecharmodalstatus() {
        //$('.fechar').click(function (ev) {

        $(".windowsdth").hide();
        $(".windowsdth").closest;

        //}

    }
    function exibirnovostatus() {

        $('#informarcarteira').show();
        //    $('#alterarststatus').load();
    }
    function exibiralerta1() {




        $('#alerta_conta').show();
        $('#alerta_conta').load();
    }
    function escondeexibiralerta1() {




        $('#alerta_conta').hide();
        $('#alerta_conta').hide();
    }
    function exibiralerta2() {




        $('#alerta1').show();
        $('#alerta1').load();
    }
    function escondeexibiralerta2() {




        $('#alerta1').hide();
        $('#alerta1').hide();
    }
</script>
<style>
    .frame {
        height: 90%;
        width: 100%;
    }

    .windowsdth {
        border-width: 2px;
        border-style: solid;
        border-color: #800000;
        display: none;
        width: 400px;
        height: 250px;
        position: absolute;
        left: 45px;
        top: 65px;
        background: white;
        z-index: 9900;
        padding: 5px;
        text-align: left;
        /*margin-top: 430px;*/
        -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
        -moz-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
        box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    }
</style>
<style type="text/css">
    .style1 {
        height: 32px;
        width: 95px;
    }

    .style2 {
        color: #FFFFFF;
        font-size: large;
    }

    .style6 {
        height: 32px;
        width: 79px;
    }

    .style7 {
        width: 79px;
    }

    .style10 {
        height: 32px;
        width: 86px;
    }

    .style11 {
        width: 86px;
    }

    .style12 {
        height: 32px;
        width: 2px;
    }

    .style13 {
        width: 2px;
    }

    .style14 {
        height: 32px;
        width: 44px;
    }

    .style15 {
        width: 44px;
    }

    .style16 {
        height: 32px;
        width: 19px;
    }

    .style17 {
        width: 19px;
    }

    .style18 {
        height: 32px;
        width: 219px;
    }

    .style19 {
        width: 219px;
    }

    .newStyle1 {
        color: #FFFFFF;
        font-size: x-small;
    }

    .menu {
        font-size: medium;
        height: 40px;
    }

    .auto-style26 {
        color: #FF6600;
        font-size: medium;
    }

    .auto-style28 {
        color: #800000;
    }

    .newStyle2 {
        font-family: "Bernard MT Condensed";
    }

    .auto-style31 {
        font-weight: normal;
    }
</style>
<%--    <link href="../style.css" rel="stylesheet" type="text/css" />--%>
<link href="../css/cadastro.css" rel="stylesheet" type="text/css" />
<%--  <link href="../css/computador.css" rel="stylesheet" />--%>
<script type="text/javascript" src="jquery-1.9.1.js"></script>
<script type="text/javascript" src="core.js"></script>
<script type="text/javascript" src="jquery.cookie.js"></script>
<script src="js/jquery-1.4.1.js" type="text/javascript"></script>

<script src="js/JScriptmascara.js" type="text/javascript"></script>
<link href="css/charisma-app.css" rel="stylesheet">
<link href='bower_components/fullcalendar/dist/fullcalendar.css' rel='stylesheet'>
<link href='bower_components/fullcalendar/dist/fullcalendar.print.css' rel='stylesheet' media='print'>
<link href='bower_components/chosen/chosen.min.css' rel='stylesheet'>
<link href='bower_components/colorbox/example3/colorbox.css' rel='stylesheet'>
<link href='bower_components/responsive-tables/responsive-tables.css' rel='stylesheet'>
<link href='bower_components/bootstrap-tour/build/css/bootstrap-tour.min.css' rel='stylesheet'>
<link href='css/jquery.noty.css' rel='stylesheet'>
<link href='css/noty_theme_default.css' rel='stylesheet'>
<link href='css/elfinder.min.css' rel='stylesheet'>
<link href='css/elfinder.theme.css' rel='stylesheet'>
<link href='css/jquery.iphone.toggle.css' rel='stylesheet'>
<link href='css/uploadify.css' rel='stylesheet'>
<link href='css/animate.min.css' rel='stylesheet'>
<link rel="stylesheet" href="emitir-b.css">
</head>

<link id="bs-css" href="css/bootstrap-cerulean.min.css" rel="stylesheet">
</head>
<body>
    <form id="form1" runat="server">
        <asp:ScriptManager ID="ScriptManager1" runat="server">
        </asp:ScriptManager>
        <div class="panel panel-primary" style="margin-left: 5px; margin-right: 5px;">

            <div class="panel-heading">
                <center>
                Vamos carregar sua foto? Selecione a imagem desejada e clique em carregar!
               </center>
            </div>
            <div class="panel-body">
              
                <asp:HiddenField ID="hdorigem" runat="server"/> <asp:HiddenField ID="hdchave" runat="server"/>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <asp:FileUpload ID="FileUpload1" runat="server" />
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
         
                            <asp:Button ID="Button1" runat="server" Text="Carregar !" CssClass="btn btn-primary" />
                     
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                      
                            <asp:Button ID="btnsair" runat="server" Text="Sair" CssClass="btn btn-warning" />
                        
                        </div>
                    </div>
                </div>


                <div class="row">
                    <center>
                               <asp:Image ID="imgcrop" runat="server" ImageUrl="~/img/amigo.png" />
                               </center>
                </div>
                <div class="row">
                  
                    <div class="col-lg-6">
                        <asp:Button ID="btnsalvar" runat="server" Text="Salvar" class="btn btn-primary" />
                    </div>
                </div>

            </div>
        </div>
            
            <asp:Image ID="Image1" runat="server" />
            <asp:HiddenField ID="hdnX" runat="server" />
            <asp:HiddenField ID="hdnY" runat="server" />
            <asp:HiddenField ID="hdnW" runat="server" />
            <asp:HiddenField ID="hdnH" runat="server" />
           
             
        <asp:Image ID="imgCropped" runat="server" />
     

    </form>
</body>
</html>
