input::-webkit-calendar-picker-indicator{
    display:none;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #000000;
    -webkit-font-smoothing: antialiased;
}

input,
button,
textarea {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}


/* Basis */

.btndate {
    font-family: 'Open Sans';
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: #fff;
    color: #262626;
    border-radius: 10px;
    height: 50px;
    font-weight: 600;
    min-width: 100px;
    padding: 0px 20px;
    transition: 0.2s ease;
    cursor: pointer;
    outline: 0;
}

.btndate:hover {
    color: #FFF;
    background: #455AF7;
}

.btn-small {
    min-width: 50px;
}


.btn-day {
    font-family: 'Open Sans';
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 99;
    outline: 0;
    border-radius: 10px;
    transition: 0.4s all;
}

.btn-day.active {
    color: #FFF;
    font-weight: 600;
    z-index: 99;
}

.btn-day.active::before {
    position: absolute;
    content: '';
    width: 40px;
    height: 40px;
    background: #455AF7;
    border-radius: 10px;
    z-index: -1;
}

.textdate {
    padding: 10px;
    height: 50px;
    width: 200px;
    border: 1px solid #f0f0f0;
    border-radius: 10px;
    margin: 0px 10px 0 0;
}



/* Calendar */

.container-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
   padding:20px;
    background: #ecf1f8;
}

.calendar-assets {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

#currentDate{
  text-align:center;
  font-size:20px;
}

.field {
    display: flex;
    width: auto;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin: 20px 0;
}

.field label {
    margin: 2px;
}

.form-input-date {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.day-assets {
    display: flex;
    justify-content: space-between;
    width: 324px;
}



.day-assets .btn:nth-child(2) i {
    padding: 0 10px 0 0 !important;
}

.calendar {
    height: 370px;
    width: 324px;
    border-radius: 18px;
    background: #ffffff;
      padding: 10px;
      user-select: none;
}

.header-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 18px 18px 0px 0px;
    padding: 15px;
    height: 50px;
    width: 100%;
    color: #262626;
}

.month {
    font-size: 0.7em;
}

.icon-date {
    padding: 10px;
    font-size: 1em;
    margin: 0 0 0 5px;
    background: #ffffff;
    color: #455af7;
    border: none;
    cursor: pointer;
    outline: 0;
}

.icon-date:hover {
    cursor: pointer;
}

#calendar {
    width: 100%;
}

.weekends th {
    font-size: 1em;
    color: gray;
    font-weight: 400;
    width: 40px;
    margin: 10px 0;
}

#calendar tr {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 3px;
}

#calendar td {
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 99;
}

#consultasinfo{
    background: rebeccapurple;
    height: 250px;
    margin-bottom: -250px;
   /*padding: 0 30px 0 15px;*/
    opacity: 0;
    transform: translateX(0) scale(0);
    transition: 0.5s;
    overflow-y: scroll;
}

#consultasinfo.active{
    background: rebeccapurple;
    height: 250px;
    margin-bottom: -250px;
    opacity: 1;
    transform: translateX(-315px) scale(1);
    transition: 0.5s;
    overflow-y: scroll;
    overflow-x: hidden;

}

.navbar{
        display: block !important;
     padding:0 !important;
}

.navbar-nav{
    /*margin: 7.5px -15px;*/
        flex-direction: row !important;
        height: 100%;   
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.dropdown-toggle::after {
      display: contents !important;
   content: unset !important;
}

*, *::before, *::after{
   
}

.form-group .form-inline .form-group{
    padding: 0;
    margin:0;
}

.form-group .form-inline .form-group .form-control{
    width:100%;
}

#cboTipoProcura option:hover{
    background-color: #000000bd !important;
}

.radio{
 margin-left: 0px !important;
}
.radio-inline{
    margin-left:0px;
}
.radio-inline input{
    margin-left:-20px;
}

img{
    width:100%;
    height: 100%;
}

.logo-mini{
    color:white !important;
}

.logo-lg{
    color:white !important;
}


.sidebar-collapse #siglaspad img{
 display: none;
}


.sidebar-collapse #siglaspad .sigla{
    transition: 1s;
    opacity: 1;

}

.sidebar-collapse #siglaspad .siglatext{
    display: none;
}


.navbar-custom-menu > .navbar-nav > li{
	height: 100%;
}

.text-align-center{
    text-align: center;
    text-align: -webkit-center;
    text-align-last: center;
}
.fix-txt{
    margin-top: -20px;
}
.fix-btn{
    margin-top: 20px;
}
.fix-check{
    margin-top: 25px;
}

.full-WH{
    width:100%;
    height: 100%;
}

.full-WD{
    width:100%;
}

.sethdn{
    display: none;
}

.unsethdn{
    display:contents;
}
.datepicker{

}