﻿<%@ Page Title="" Language="VB" MasterPageFile="~/default.master" AutoEventWireup="false" CodeFile="aeroporto.aspx.vb" Inherits="aeroporto" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div style ="width:1000px">
        <div style="width: 362px; margin: 0 auto " >
        <div><h1>Cadastro de Aeroporto</h1></div>

 
         <table class="auto-style1">
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td class="auto-style2">Sigla</td>
                <td class="auto-style2">
                    <asp:TextBox ID="txtsigla" runat="server" Width="243px"></asp:TextBox>
                </td>
            </tr>
            <tr>
                <td class="auto-style3">Cidade</td>
                <td class="auto-style3"><span>
                    <asp:TextBox ID="txtcidade" runat="server" Width="243px"></asp:TextBox>
                </td>
            </tr>
            <tr>
                <td>Pais</td>
                <td><span>
                    <asp:TextBox ID="txtpais" runat="server" Width="243px"></asp:TextBox>
                </td>
            </tr>
            <tr>
                <td class="auto-style2">&nbsp;</td>
                <td class="auto-style2">
                    &nbsp;</td>
            </tr>
            <tr>
                <td class="auto-style2">&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td class="auto-style2">&nbsp;</td>
                <td>
                    <asp:Button ID="btnSalvar" runat="server" Text="Salvar" Width="125px" />
                </td>
            </tr>
        </table>


    </div>


        <div style="text-align: left">
            <asp:GridView runat="server" CellPadding="4" GridLines="None" ForeColor="#333333" Width="953px" ID="Grade">
                <AlternatingRowStyle BackColor="White" ForeColor="#284775"></AlternatingRowStyle>
                <Columns>
                    <asp:TemplateField HeaderText="Sel">
                        <EditItemTemplate>
                            <asp:CheckBox ID="CheckBox1" runat="server" />
                        </EditItemTemplate>
                        <ItemTemplate>
                            <asp:CheckBox ID="CheckBox2" runat="server" />
                        </ItemTemplate>
                    </asp:TemplateField>
                </Columns>
                <EditRowStyle BackColor="#999999"></EditRowStyle>
                <FooterStyle BackColor="#5D7B9D" Font-Bold="True" ForeColor="White"></FooterStyle>
                <HeaderStyle BackColor="#5D7B9D" Font-Bold="True" ForeColor="White"></HeaderStyle>
                <PagerStyle HorizontalAlign="Center" BackColor="#284775" ForeColor="White"></PagerStyle>
                <RowStyle BackColor="#F7F6F3" ForeColor="#333333"></RowStyle>
                <SelectedRowStyle BackColor="#E2DED6" Font-Bold="True" ForeColor="#333333"></SelectedRowStyle>
            </asp:GridView>
        </div>


        </div>
   
</asp:Content>

